// Add spacing above file field on node pages.
.field--name-field-file {
  margin-top: 20px;
}

.panel-primary {

  .panel-title {
    color: #fff;
  }
}

.field--name-body {
  .book-covers {
    img {
      max-width: fit-content;
      max-height: 300px;
    }
  }
}

.field--name-body {
  .sample-pages {
    img {
      max-height: 250px;
      margin-bottom: 10px;
    }
  }
}
