.page-node-edit,
.page-node-add {

  .radio input[type="radio"],
  .radio-inline input[type="radio"],
  .checkbox input[type="checkbox"],
  .checkbox-inline input[type="checkbox"] {
    margin-left: 0;
  }

  .radio label,
  .checkbox label {
    margin-left: 5px;
  }

  .form-type-vertical-tabs {
    padding-top: 20px;
  }

  .form-item {
    &.form-inline label {
      display: inline;
      margin-right: 3px;
    }

    label {
      display: block;

      &.ck.ck-voice-label {
        display: none !important;
      }
    }
  }

  .field-multiple-table {
    .label {
      font-size: initial;
    }
  }

  .select-wrapper {
    width: 300px;
  }

  .main-container {
    max-width: 900px;
  }

  .form-text {
    width: 500px;
  }

  .form-required:after {
    margin-left: 3px;
  }

  .text-format-wrapper {
    .form-type-select .select-wrapper:after {
      z-index: 1;
      top: 24px;
      right: 0;
    }

    .form-type-select .select-wrapper select {
      min-height: initial;
    }
  }
}

.node-confirm-form {
  margin-bottom: 30px;

  .form-actions {
    margin-top: 20px;
  }
}

.dropbutton-wrapper {

  .dropbutton {
    padding-left: 0;
    list-style-type: none;
  }

  .dropbutton__item {
    display: inline-block;
    margin-left: 10px;
  }
}

.location-consent-message {
  margin-bottom: 20px;
}
