
.page-node-type-species .main-container {
  padding-top: 70px;
  padding-bottom: 30px;
}

.species-search-results {
  .results-count {
    margin: 10px;
  }

  .form-type-select .select-wrapper {
    width: 150px;

    select {
      cursor: pointer;
    }

    &::after {
      top: 31px;
      right: 3px;
      z-index: 10;
    }
  }
}

#node-species-edit-form {
  margin-bottom: 50px;
}
