.release-filter-form,
.views-element-container {
  .view-content .views-field a {
    white-space: nowrap;
  }

  .panel-heading,
  .panel-title {
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(.collapsed) .fa-caret-down {
        transform: rotate(180deg);
      }
    }
  }

  .panel-body {
    padding: 20px;
  }
}

#edit-filters--content,
.views-exposed-form {
  .form-type-select .select-wrapper {

    select,
    select option {
      min-width: 85px;
      min-height: 36px;
    }

    &:after {
      top: 27px;
      right: 0;
      z-index: 10;
    }
  }

  .form-control {
    display: inline-block;
  }

  .form-item {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;

    label {
      margin-right: 10px;
      display: inline-block;
    }

    .form-text {
      max-width: 150px;
    }
  }

  .form-actions {
    margin-bottom: 10px;
  }
}
