/*.footer-top {
  nav {
    width: 100%;
    @include desktop {
      width: calc(100% - 370px);
    }
  }

  .menu--footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    @include tablet {
      flex-flow: row nowrap;
      align-items: flex-start;
    }
    @include desktop {
      justify-content: flex-start;
    }

    li {
      margin-bottom: 8px;
      width: 100%;
      @include tablet {
        width: auto;
        margin-bottom: 7px;
      }

      a {
        display: block;
        max-width: 270px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        @include font($font-size-deck-md, 700, $font-family-base, 1.5, $color-white);
        @include tablet {
          margin: 0;
          width: auto;
        }
      }
    }

    > li a {
      margin-bottom: 8px;
      @include tablet {
        margin-bottom: 7px;
      }
    }

    > li.first {
      text-transform: uppercase;
      margin: 0;
      @include desktop {
        margin-left: 30px;
      }
    }

    > li.last li:nth-last-child(2) {
      @include tablet {
        margin-top: 39px;
      }
    }

    > li:not(.first):not(.last) {
      margin: 0;
      @include tablet {
        width: 100%;
        max-width: 130px;
        margin: 0 30px 0 40px;
      }
    }

    > li.first,
    > li.first ul,
    > li:not(.first):not(.last),
    > li.last,
    > li.last li:nth-last-child(2),
    > li.last li.last {
      @include mobile-down {
        padding-top: 8px;
        border-top: 1px solid $border-color;
      }
    }
  }
}*/
.menu--footer-menu-employment {
  > li {
    text-transform: uppercase;
  }
}