{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

{#
/**
 * This custom template is used to add in some standard markup for the stying of image credits. 
 * This particular template uses the name field instead of the credit, cause the credit would not make
 * sense, but its styled just like it would be with an image with credit. 
 * The first key piece is the addition of the class "image-with-credit" and the view mode as 
 * a class. Second is the markup that surrounds the credits with a class of "image-credit". This 
 * approach may have to change when we start to deal with image captions. 
 */
#}
<div{{ attributes.addClass('embedded-media-image', view_mode) }}>
    <div class="image-with-credit">
    {{ title_suffix.contextual_links }}

    {# just the image #}
    {{ content.field_media_image }}

    {% if media.name.value %}
        <div class="image-credit">
            {{ content.name }}
        </div>
    {% endif %}
    </div>
</div>