.manatee-report-table .no-manatees-message td {
  text-align: center;
  padding: 20px;
  font-style: italic;
  background-color: #f5f5f5;
}

.manatee-report-container .select-wrapper {
  width: 300px;
}

.manatee-report-container .control-label {
  margin-right: 10px;
}

.manatee-report-container .form-type-select .select-wrapper:after {
  top: 29px;
}
