// Text.
@mixin font ($size, $weight, $family, $line, $color: $text-color) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  line-height: $line;
  color: $color;
}

// Positon.
@mixin absolute ($top: auto, $left: auto, $bottom: auto, $right: auto) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

// Placeholder styles.
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

// Media query mixins.

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: #{$desktop-large-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile-down {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin mobile-xs {
  @media (max-width: #{$mobile-xs}) {
    @content;
  }
}

@mixin mobile-up {
  @media (min-width: #{$mobile-xs + 1px}) {
    @content;
  }
}

@mixin min-4k {
  @media (min-width: #{$desktop-4k}) {
    @content;
  }
}

// Timeline tag icons.
@mixin tag($bg, $px, $position: before) {
  &:#{$position} {
    content: '';
    display: inline-block;
    width: $px;
    height: $px;
    margin-right: 8px;
    background: $bg;
  }
}

// Fontawesome 5 icons
@mixin icon($content, $size, $weight, $line, $color, $position: before) {
  &:#{$position} {
    content: $content;
    @include font($size, $weight, 'Font Awesome 5 Pro', $line, $color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
  }
}
//brand icons like facebook need a differnet font
@mixin brand_icon($content, $size, $weight, $line, $color, $position: before) {
  @include icon($content, $size, $weight, $line, $color, $position: before);
  &:#{$position} {
    @include font($size, $weight, 'Font Awesome 5 Brands', $line, $color);
  }
}

@mixin h1() {
  @include font($font-size-h1, 600, $font-family-base, 1.29, $major-heading-color);
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

@mixin h2() {
  @include font($font-size-h2, 600, $font-family-base, 1.29, $major-heading-color);
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

@mixin h3() {
  @include font($font-size-h3, 600, $font-family-base, 1.42, $major-heading-color);
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

@mixin h4() {
  @include font($font-size-h4, 600, $font-family-base, 1.29, $medium-heading-color);
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

@mixin h5() {
  @include font($font-size-h5, 800, $font-family-base, 1.29, $medium-heading-color);
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

@mixin h6() {
  @include font($font-size-h6, 600, $font-family-base, 1.29, $medium-heading-color);
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

@mixin small-caps() {
  @include font($font-size-deck-sm, 700, $font-family-base, 1.29, $text-color);
}

@mixin container-small() {
  max-width: 810px;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin container-large() {
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin container-block() {
  @include container-fixed;

    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
        width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
}

@mixin glyphicon() {
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@mixin small-width() {
  max-width: 690px;
}

@mixin title-merri() {
  text-shadow: $text-shadow;
  @include font($title-xmd, 700, $font-family-merri, 1.29, $color-white);

  @include desktop {
    font-size: $title-xl;
  }
}

@mixin field--label() {
  margin-bottom: 5px;
  @include font($font-size-deck-md, 700, $font-family-base, 1.38, $text-color);
}

@mixin blue-list() {
  ul {
    margin-bottom: 30px;
    padding-left: 0px !important;
    list-style-type: none !important;
    overflow: hidden;

    li {
      position: relative;
      padding-left: 20px;

      &:before {
        content: '';
        @include absolute(8px, 0);
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-right: 12px;
        border-radius: 50%;
        background: #205493;
      }
    }
  }
}

//defaults for all buttons
@mixin btn-defaults() {
  display: inline-block;
  @include font($font-size-base, 700, $font-family-base, 1, $btn-primary-color);
  border-radius: 4px;
  border: 2px solid $btn-primary-border;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .57px;
  padding: 8px 16px;
  transition: .4s ease-in-out;
}

//this is the standard button
@mixin btn-primary() {
  @include btn-defaults;
  background: $btn-primary-bg;
  color: $color-white !important;
  box-shadow: $link-heading;

  &:active {
    border-color: $btn-simple-border;
    background: $btn-simple-bg;
    color: $color-white;
    text-decoration: none;
  }

  &:focus {
    box-shadow: $link-color;
    border-radius: 4px;
    background: $link-color;
    color: $color-white;
  }

  &:hover {
    border-color: $btn-simple-border-hover;
    background: $btn-simple-bg-hover;
    color: $btn-simple-hover-color;
    text-decoration: none;
  }
}

//defaults for when you need a wrapper around an <a> to create a button rather than having buttons classes
//directly on the <a> tag. 
@mixin simple-btn() {
  display: inline-block;
  width: auto;

  a {
    @include btn-primary;
  }
}

@mixin simple-btn-primary() {
  @include simple-btn;

  @include mobile-xs {
    width: 100%;
  }

  a {
    @include btn-primary;
  }
}

@mixin simple-btn-outline() {
  @include mobile-xs {
    width: 100%;
  }

  a {
    @include btn-secondary;
  }
}


@mixin simple-btn-primary-icon-after($icon) {
  @include simple-btn-primary;

  a {
    @include icon($icon, 'inherit', 700, 1, $color-white, 'after');
    
    &:after {
      margin-left: 10px;
    }
  }
}

@mixin btn-secondary() {
  @include btn-defaults;
  background: $color-white;
  color: $btn-secondary-color;
  box-shadow: $link-heading;
  border: 2px solid $btn-secondary-border;

  &:hover,
  &:active {
    border-color: $btn-secondary-border;
    background: $btn-secondary-bg-hover;
    color: $btn-secondary-color;
    text-decoration: none;
  }
}

@mixin btn-outline-white() {
  @include btn-defaults;
  background: transparent;
  color: $color-white !important;
  border: 2px solid $color-white;

  &:hover,
  &:active {
    border-color: $color-white;
    background: transparent;
    color: $color-white;
  }
}

@mixin simple-btn-secondary() {
  @include simple-btn;

  @include mobile-xs {
    width: 100%;
  }

  a {
    @include btn-secondary;
  }
}

@mixin simple-btn-white() {
  @include simple-btn;

  @include mobile-xs {
    width: 100%;
  }

  a {
    border-color: $color-white;
    color: $color-white;

    &:hover {
      background: $color-white;
      border-color: $color-white;
      color: $btn-simple-white-hover-color;
    }
  }
}

@mixin tags-button() {
  display: inline-block;
  width: auto;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;
  border-radius: 20px;
  border: 2px solid #d8d8d8;
  padding: 5px 15px;
  text-decoration: none;

}

// Email icon fontawesome.
@mixin email-icon() {
  @include icon('\f0e0', 16px, 700, 1, $link-color);

  &:before {
    margin-right: 6px;
  }
}

// Phone icon fontawesome.
@mixin phone-icon() {
  @include icon('\f879', 16px, 700, 1, $link-color);

  &:before {
    margin-right: 6px;
  }
}

// Fax icon fontawesome.
@mixin fax-icon() {
  @include icon('\f1ac', 16px, 700, 1, $link-color);

  &:before {
    margin-right: 6px;
  }
}

@mixin default-container() {

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include desktop {
    width: $container-desktop;
  }

  @include desktop-large {
    width: $container-large-desktop;
  }
  
}

/** Card Mixins 
    Applies the flex that stretches the cards based on the screen size in 
    these ways:
    - Large Desktop get's 3 columns (this looks good with menu)
    - Desktop and Tablet get 2 columns
    - mobile-xs get's 1 full width column
*/
@mixin card-wrapper-settings() {
  display: flex;
  flex-wrap: wrap;
  align-content:stretch;
  //margin:-10px;
  
  @include mobile-xs {
    justify-content: center;
  }
}
@mixin card-settings() {
  flex: 0 1 100%;
  padding: 0px;
  min-width:200px;
  margin:10px;

  @include tablet {
    flex: 0 1 47%;
  }
  @include desktop {
    flex: 0 1 47%;
  }
  @include desktop-large {
    flex: 0 1 31%;
  }
  @include mobile-xs {
    padding-right: 0px;
  }
}

@mixin card-settings-gradual() {
  flex: 0 1 45%;
  padding: 0px;
  min-width:200px;
  margin:10px;

  @include tablet {
    flex: 0 1 45%;
  }
  @include desktop {
    flex: 0 1 30%;
  }
  @include desktop-large {
    flex: 0 1 30%;
  }
  @include mobile-xs {
    flex: 0 1 100%;
    padding-right: 0px;
  }
}
@mixin card-settings-4() {
  flex: 0 1 45%;
  padding: 0px;
  min-width:200px;
  margin:10px;

  @include tablet {
    flex: 0 1 45%;
  }
  @include desktop {
    flex: 0 1 22%;
  }
  @include desktop-large {
    flex: 0 1 22%;
  }
  @include mobile-xs {
    flex: 0 1 100%;
    padding-right: 0px;
  }
}