section.fws-history {
    margin: 40px 0px;
    > .block-container {
        @include container-block;
    }
    .block-title {
        @include h2;
    }
}
section.centered-block {
    > .block-container {
        @include container-block;
    }
    .block-title {
        @include h2;
    }
}

section.block-views-blockstories-topics-latest-stories {
    margin-top: 40px;
    margin-bottom:40px;
    > .block-container {
        @include container-block;
    }
    .block-title {
        @include h2;
    }
}

section.block-paragraphs-block {
    //margin: 40px 0px;
    > .block-container {
        @include container-block;
    }
    .block-title {
        @include h2;
    }
}

.upcoming-events {
    .container {
        margin-top: 40px;
        margin-bottom:40px;

        article.event.teaser {
            padding: 20px 0;
        }

        a.btn-primary {
            margin-top: 20px;
        }
    }
  }

