.path-explore-taxonomic-tree {
  .main-container {
    margin-top: 51px;
    padding-top: 114.5px;

    @include desktop {
      margin-top: 80px;
    }
  }

  .image-and-text-block {
    padding: 0 0 27px;

    @include tablet {
      padding: 0 0 58px;
    }
  }
}

.explore-taxonomic-tree {
  .first-block {
    margin-bottom: 60px;

    .block-container {
      >div {
        display: flex;
      }
    }

    .field--name-field-image {
      @include tablet {
        width: 37%;
      }
    }

    .block-deck {
      padding: 30px 0 0;

      @include tablet {
        padding: 0 0 0 30px;
        width: 63%;
      }
    }
  }
}