//faqs page view
.view-display-id-faq_block {

    //exposed filters
    .views-exposed-form {

        //search box
        .form-item-combine {
            width: 100%;
            margin-bottom: 15px;
            input.form-control {
                width: 100%;
            }
        }
        //category select
        .form-item-field-category-reference-target-id {
            display: flex;
            align-items: center;

            label {
                margin-right: 15px;
            }
            
        }
    }

    .view-content {
        //these are the groupings of categories
        > h3 {
            @include h2;
        }

        .faq-wrapper {
            margin-bottom: 40px;

            //default state
            .faq-question {
                width: 100%;
                position: relative;
                cursor: pointer;
                color: $link-color;
                font-size: 17px;
                padding-right: 40px;

                @include icon('\f078', 18px, 400, 39px, $icon-default-bg-color, 'after');
                &:after {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    font-weight: bold;
                    color: $link-color;
                    width: 40px;
                    height: 40px;
                    background: #d8d8d8;
                    border-radius: 50%;
                    text-align: center;
                }
            }
            .faq-answer {
                padding-right: 40px;
                height: 0px;
                opacity: 0;
                font-size: 17px;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -o-transition: all 1s;
                transition:all 1s;
            }

        }

        .faq-wrapper.open {
            .faq-question {
                margin-bottom: 12px;
                @include icon('\f077', 18px, 400, 39px, $icon-default-bg-color, 'after');
                &:after {
                    font-weight: bold;
                    background-color: $link-color;
                    color: white;
                }
            }
            .faq-answer {
                height: auto;
                opacity: 1;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -o-transition: all 1s;
                transition:all 1s;
            }
        }
    }
}
.faq-breadcrumbs {
    margin-bottom: 20px;
}