.page-node-type-one-column-page {
  .field--name-body {
    @include blue-list;

    h1 {
      margin: 0 0 32px;
    }
  }

  .block-field-blocknodeone-column-pagefield-image {
    img {
      object-fit: cover;
      height: 480px;
      @include desktop {
        height: auto;
      }
      @include min-4k {
        width: 100%;
        height: 900px;
      }
    }
  }

  .section-middle {
  }

  .filters-and-content {
    margin: 0 auto 64px;
    @include tablet {
      margin: 0 auto 90px;
    }

    &__filters {
      @include tablet {
        margin-top: 227px;
      }
    }
  }

  .image-and-text-block {
    @include mobile-down {
      padding-bottom: 0;
    }
  }

  .block-field-blocknodeone-column-pagebody {
    //this was commented out cause it affects other pages like teasers of one column page nodes
    //max-width: 650px;
  }

  .landing-without-menu {
    .block-field-blocknodeone-column-pagebody {
      text-align: center;
      margin: 0 auto;
      padding: 0 20px 39px;
    }
  }
}
