.library-collection-section {
    .one-column-page-description {
        margin-top: 0px;

        p {
            font-style: normal;
            font-weight: normal;
            max-width: 100%;
            color: $text-color;
            font-family: $font-family-base;
            padding: 0;
            text-align: left;
        }
    }
}


.block-views-blocklibrary-curated-collections-curated-collections {
    .form-actions {
        display: inline-block;
    }
    .block-title {
        @include h2;
    }
}
.block-views-exposed-filter-blocklibrary-collections-cards {
    .form-item-search-api-fulltext {
        max-width: 65%;

        input {
            background: none;
            height: 40px;
        }
    }
}

.block-views-exposed-filter-blocklibrary-curated-collections-curated-collections {
    .block-title {
        @include h2;
    }
    label {
        display: none;
    }
}