
#block-officeofpublicaffairscontacts, 
#block-divisionofcongressionalandlegislativeaffairscontacts {
    background: $table-bg-accent;
    margin-top:0;
    margin-bottom:0;
    padding-top:40px;
    padding-bottom:40px;
    div.block-container {
        max-width: 750px;
    }
    .contact-field-group {
        background: $table-bg-accent;
    }
}

#block-socialmediacontacts, #block-notfindingtherightpersontocontact {
    div.block-container {
        max-width: 750px;
    }
}
    
#block-socialmediacontacts {
    margin-top: 55px;
    margin-bottom: 22px;
}