.page-node-type-policy-manual-subject,
.page-node-type-policy-manual-subject-attachment {
    .field--label {
        font-weight: bold;
    }
    .block-field-blocknodepolicy-manual-subjectbody {
        margin-top: 20px;
    }
}

.page-node-type-policy-manual-subject-attachment {
    .block-field-blocknodepolicy-manual-subject-attachmentfield-policy-attachment-type {
        float: left;
        width: auto;
        margin-right: 10px;
        font-weight: bold;
    }
    .block-field-blocknodepolicy-manual-subject-attachmentfield-policy-item-number {
        width: 50px;
        font-weight: bold;
    }
    .block-field-blocknodepolicy-manual-subject-attachmentbody {
        margin-top: 20px;
    }
}

ol.policy-standard-list {
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
    ol {
      list-style-type: none;
      li {
          margin-top: 15px;
      }
      ol {
          list-style-type: none;
          li {
              margin-top: 15px;
          }
          ol {
            list-style-type: none;
            li {
                margin-top: 15px;
            }
        }
      }
    }
  }