.page-node-type-program {
  .program.full > .content {
    > .field--name-body {
      text-align: center;
      @include tablet {
        text-align: left;
      }
    }
    > .field--name-field-plaintext-description {
      @include standard-page-description;
      padding-bottom: 20px;
    }
  }

  .simple-btn {
    margin-top: 23px;
  }

  .field--type-text-with-summary, .field--name-field-jobs-lead-in {
    margin-bottom: 25px;
  }
  
}
