.page-node-type-program,
.page-node-type-program-subpage {
  .block-fws-subpages-menu {
    //display: none; //moved hiding menut to _menu-subpages to cover more use cases

    @include desktop {
      display: block;
      position: sticky;
      top: 0;
    }
  }

  .program.about-us,
  .program.get-involved,
  .program.libraries,
  .program.what-we-do,
  .program.events,
  .program.news {
  //.program.species {

    .field--type-text-with-summary {
      margin-bottom: 25px;
    }

    .field--label {
      margin-bottom: 22px;
      @include h3;
    }

    .block-field-blocknodeprogramfield-about-us,
    .block-field-blocknodeprogramfield-get-involved-body,
    .block-field-blocknodeprogramfield-what-we-do-body,
    .block-field-blocknodeprogramfield-library-description,
    .block-field-blocknodeprogramfield-events-desc,
    .block-field-blocknodeprogramfield-news-description,
    .block-field-blocknodeprogramfield-species-description {
      @include blue-list;

      .field--label {
        @include h2;
        margin-top: 0;

        @include tablet {
          margin-bottom: 22px;
        }
      }

      figure {
        //margin: 22px 0;

        img {
          @include mobile-down {
            height: 210px;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    //block titles instead of field titles
    .block-field-blocknodeprogramfield-library-description {
      .block-title {
        @include h2;
        margin-top: 0;
      }
    }

    .block-field-blocknodeprogramfield-our-history,
    .block-field-blocknodeprogramfield-what-we-do-body {
      figure {
        margin: 24px 0;
        width: 100%;

        @include mobile-up {
          width: auto;
          margin: 24px 24px 24px 0;
        }

        @include tablet {
          margin: 14px 30px 23px 0;
        }
      }
    }

    .block-field-blocknodeprogramfield-what-we-do-body {
      .align-left {
        float: none;
        margin: 24px 0;

        @include tablet {
          float: left;
          margin: 6px 30px 23px 0;
        }
      }
    }

    .block-views-blocknational-programming-national-programming {
      margin-top: 69px;

      h3 {
        margin-top: 0;
      }
    }

    .block-field-blocknodeprogramfield-manag-conservation-body {
      margin: 20px 0 40px;

      .field--label {
        margin-bottom: 10px;
      }
    }

    .block-field-blocknodeprogramfield-law-enforcement-title,
    .block-field-blocknodeprogramfield-laws-regulations-title {
      margin-top: 40px;
      @include h3;
    }

    .block-field-blocknodeprogramfield-law-enforcement-desc,
    .block-field-blocknodeprogramfield-laws-regulations-desk {
      margin-top: 10px;

      p {
        margin: 0;
      }
    }

    .block-views-blockprogram-services-block-1 {
      .block-title {
        margin-top: 0;
      }
    }

    .image-and-text-two {
      padding-bottom: 0;

      .align-left {
        @include tablet {
          margin-right: 45px;
        }
      }

      .simple-btn {
        margin-top: 0;
      }
    }

    // What we do sub page Volunteering block.
    .image-and-text-section {
      margin: 40px auto 35px;

      .block-title {
        margin: 0 0 16px;
      }

      .block-deck {
        @include tablet {
          margin-top: 56px;
        }
      }
    }
  }

  // Program news subpage.
  .program.news {
    .field--name-field-news-description {
      margin-bottom: 20px;
      @include tablet {
        margin-bottom: 40px;
      }

      @include desktop {
        margin-bottom: 70px;
      }
    }

    .quicktabs-tabs {
      margin-bottom: 0;
      padding-left: 0 !important;
    }
  }

  // Program contact us subpage.
  // see also contact-information.scss in blocks folder
  .program.contact-us {

    .field--name-field-contact-us-title {
      @include h2;
      margin-top: 0;
    }

    .block-field-blocknodeprogramfield-contact-us-body {
      @include tablet {
        margin-bottom: 60px;
      }
    }

    .block-field-blocknodeprogramfield-national-and-regional {
      h3 {
        @include h2;
      }
    }

    .block-with-link-and-image {
      .field--name-field-title {
        @include h2;
        margin-bottom: 20px;
      }
    }
  }

  // Program editorial subpage.
  .program.editorial-subpage {
    .field--name-body {
      @include blue-list;
    }
  }
}