.webform-submission-send-us-a-message-form {
    input::placeholder {
      color: #6b6b6b;
    }
    .webform-element-help {
        background-color: #d47500;
        border-color: #d47500;
    }
  }

