.page-node-type-species {
  header#navbar {
    //@include absolute(0, 0, auto, 0);
  }
  h1.page-title, h1.fws-banner-title{
    @include container-block;
    span {
      font-style: italic;
    }
  }
  .main-container {
    padding: 0;
  }

  .block-field-blocknodespeciestitle {
    h2 {
      @include h1;
      font-style: italic;
    }
  }

  .field--name-field-common-name {
    @include h3;
    margin-top: 0;
    .field--item {
      display: inline;
      &:after {
        content: ", ";
      }
    }
    .field--item:last-child {
      &:after {
        content: "";
      }
    }
  }

  .fws-focus {
    margin-top: 35px;
    padding-bottom: 45px;

    span {
      margin-right: 5px;
      font-weight: bold;
    }
  }

  .filters-and-content__content {
    .view-filters {
      margin-bottom: 22px;
    }
  }

  .filters-and-content__filters {
    @include tablet {
      margin-top: 259px;
    }

    section:first-child {
      .block-title {
        color: #021d44;
      }
    }
  }


  //these are the main sections of the species profile. A species may or may not have a lot of this information. There
  // is a section in the script.js file that checks on this and will toggle them on if need be. Having them off initially
  // prvents the flash you get if you have them on intially and then the JS hides them. The ones with the # are the hotpot links
  // at the top of the page. The others are the sections they are related to. 
  #species-profile-page-overview-exists,
  #species-profile-page-characteristics-exists,
  #species-profile-page-geography-exists,
  #species-profile-page-timeline-exists,
  #species-profile-page-information-media-exists,
  #species-profile-page-contact-exists,
  .species-profile-page-overview-exists,
  .block-field-blocknodespeciesfield-characteristic-categories,
  .species-profile-page-geography-exists,
  // we can't initially hide the map or it can't render itself properly
  // so this one has to use the reverse logic
  // .block-fws-species-populations-range-map,
  // unfortunately the "Launch Interactive Map" button shows up on page load all alone
  // so hide that initially and show via JS
  .block-fws-species-populations-range-map .fws-species-populations-range-map .btn,
  .species-profile-page-timeline-exists,
  .species-profile-page-information-media-exists,
  .species-profile-page-contact-exists {
    display: none;
    text-decoration: none;
  }


  //this rule can problem be elminiated if we fix this issue in the search app, prevents checkbox refiners from being on the same line
  .block-fws-search-appspecies-information-media {
    .search-filter-checkbox {
      display: block;
    }
  }
}