.page-node-type-listing-status {
  .main-container {
    padding-top: 114px;
    padding-bottom: 90px;
    margin-top: 80px;
  }

  .section-top {
    @include tablet {
      display: flex;
    }
  }

  .views-field-field-media {
    img {
      width: 100%;
      margin-bottom: 23px;

      @include tablet {
        width: auto;
        margin: 0 30px 23px 0;
      }
    }
  }

  .view-display-id-listing_status_detail {
    >.view-content {
      .views-field:not(.views-field-field-related-laws-1):not(.views-field-field-media) {
        margin-bottom: 17px;
      }

      .views-field-field-related-laws-1 {
        @include h2;
        margin-bottom: 30px;
      }

      p a {
        font-size: 17px;
      }

      .field--label {
        display: inline-block;
      }
    }
  }

  .related-status,
  .status-documentation {
    margin-top: 50px;

    @include tablet {
      margin-top: 60px;
    }

    h2 {
      @include h3;

      @include mobile-down {
        margin-bottom: 16px;
      }
    }
  }

  .status-documentation {
    .views-field {
      margin-bottom: 5px;
    }

    .views-field-title-1 {
      p {
        font-size: $font-size-deck-lg;
        color: $link-color;
      }
    }

    .status-documentation--footnotes {
      font-size: 1em;
      color: $footnotes-color;

      @include tablet {
        display: inline-block;
        width: 50%;

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  .related-status {
    .view-header {
      margin-bottom: 24px;

      @include tablet {
        margin-bottom: 34px;
      }
    }

    .views-row .search-index-title {
      font-size: 19px;

      a {
        font-size: 19px;
      }
    }
  }
}