{#
/**
 * @file
 * Default theme implementation to display the species ID test start page.
 *
 * Available variables:
 * - form: The rendered form for test configuration.
 * - module_path: The path to the fws_id_test module.
 *
 * @ingroup themeable
 */
#}
<div class="id-test-page">
  <div class="id-test-form">
    <div class="row">
      <div class="col-sm-6">
        {{ form }}
      </div>
      <div class="col-sm-6">
        <figure>
          <figcaption>Geographic Regions (occurrence during any season)</figcaption>
          <img class="img-responsive" src="{{ module_path }}/images/Geographic_Regions.jpg" border="0" usemap="#map">
        </figure>
      </div>
    </div>
  </div>
</div>
