{#
/**
 * @file
 * Default theme implementation to display the species ID test start page.
 *
 * Available variables:
 * - form: The rendered form for test configuration.
 * - module_path: The path to the fws_id_test module.
 *
 * @ingroup themeable
 */
#}
<div class="id-test-page">
  <div class="id-test-form">
    <div class="row">
      <div class="col-sm-6">
        {{ form }}
      </div>
      <div class="col-sm-6">
        <figure>
          <img class="img-responsive" src="{{ module_path }}/images/Geographic_Regions.jpg" border="0" usemap="#map" alt="North American map displaying geographic regions">
          <figcaption>Map showing major ecological and geographic regions of North America. The map divides the continent into several broad zones, each labeled with a name and highlighted in a different color. These regions include: Arctic Tundra (northernmost areas in yellow), Boreal and Taiga (a band below the tundra), Alaska (outlined separately), Pacific Coastal (western coastal areas), Intermountain West (covering much of the western interior), Prairies and Parklands (central plains), NE U.S. and eastern Canada (highlighted in red), Atlantic Coastal (eastern seaboard), and Southeast U.S. (southern and southeastern areas). The regions reflect distinct ecological zones based on climate, vegetation, and geography.</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
