.user-profile {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 35px;
    .profile-photo {
        flex-shrink: 1;
        flex-basis: auto;
        width: auto;
        .field--name-user-picture {
            @include mobile-xs {
                // width from mockup is 50px, need room for padding
                $thumb-padding: 10px;
                width: 50px+$thumb-padding;
                padding-right: $thumb-padding;
            }
            
            $thumb-padding: 30px;
            width: 130px+$thumb-padding; // matches image preset width
            padding-right: $thumb-padding;
            img {
                border-radius: 5px; // soften the corners
                margin: 0;
                height: auto;
            }
            
        }
    }
    .profile-information {
        flex-wrap: wrap;
        flex-grow: 1;
        display: flex;

        > .field {
            flex-basis: 100%;
            margin-bottom: 7px;
            font-size: 17px;
        }

        .field--type-name {
            font-size: 19px;
        }

        .field--name-field-job-title, 
        .field--name-field-ad-role,
        .field--name-field-ad-organization {
            font-weight: bold;
        }

        .field--name-field-ad-organization {
            font-style: italic;
        }

        // couldn't get a list of state abbreviations, so built a taxonomy view mode for it, and themed the comma list myself
        .field--name-field-area {
            > .field--items {
                .field--item {
                    float: left;
                    margin-right: 2px;
                }
                .field--item:not(:last-child) {
                    .field--name-field-abbreviation {
                        &:after {
                            content: ', ';
                        }
                    }
                }
            }
        }

        .field--name-field-address,
        .contact-field-group, 
        .field--name-field-area {
            display: flex; //this flex is to keep meta items vertically centered when some have icons and some dont'
            align-items: center;
            flex-basis: 100%;
            font-size: 16px;
            @include desktop {
                flex-basis: 33.33%;
            }

            .form-group {
                margin-bottom: 0;
            }
        }

        .contact-field-group {
            display: flex;
            margin-bottom: 0;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            border: none;
            box-shadow: none;
            @include mobile-xs {
                align-items: flex-start;
            }
            cursor: pointer;
            .panel-heading {
                border: none;
                background-color: transparent;
                border-radius: 0px;
                padding: 0px;
                .panel-title {
                    @include icon('\f2b9', 16px, 700, 1, $link-color);

                    &:before {
                        margin-right: 7px;
                    }
                }
                
            }

            .panel-body {
                @include absolute(100%, auto, auto, 0);
                flex-direction: column;
                margin-top: 5px;
                padding: 10px;
                background: $color-white;
                box-shadow: $popup-shadow;
                white-space: nowrap;
                z-index: 1;

                @include mobile-xs {
                    @include absolute(100%, 0);
                }

                .field--name-field-phone {
                    margin-bottom: 5px;
          
                    a {
                        @include phone-icon;
                    }
                }
            }
        }

    }
}