.views-ef-fieldset-container div.form-type-checkbox.checkbox {
  display: flex;
}

div.form-type-checkbox.checkbox,
.facet-item {
  position: relative;

  label {
    @include font($font-size-base, 400, $font-family-base, 1.4, $label-color);
    margin-left: 6px;

    &:after, &:before {
      content: '';
      @include absolute(1px, 0);
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 9px;
      z-index: 1;
      @include font(11px, 100, $font-family-icons, 1, $color-white);
      text-align: center;
      border: 1px solid $text-color;
      border-radius: 2px;
    }

    &:before {
      background: $color-white;
    }

    &:after {
      content: '\e013';
      background: $link-color;
      border-color: $link-color;
      padding: 1.5px 1px 0 0;
      opacity: 0;
    }

    span {
      &:before {
        color: $label-color !important;
      }
    }
  }

  input[type="checkbox"],
  .facets-checkbox {
    margin: 4px 9px 0 0;
  }

  .form-checkbox:checked ~ label,
  .facets-checkbox:checked ~ label {
    &:after {
      opacity: 1;
    }
  }
}

.facets-widget-checkbox {
 .facet-item {
   display: flex;
 }
}

// Search field.
.form-item-search-api-fulltext {
  width: 100%;

  input.form-text {
    width: 100%;
    height: 42px;
    border-radius: 2px;
    border: 1px solid $input-border;
    padding: 10px 40px 10px 11px;
    background: $search;
    @include font($font-size-deck-md, 400, $font-family-base, 42px, $search-text-color);
    box-shadow: none;
  }
}

// Select list.
.form-type-select {
  .select-wrapper {
    position: relative;
    @include icon('\f107', 16px, 900, 1, $icon-default-bg-color, after);
    &:after {
      @include absolute(50%, auto, auto, 15px);
      transform: translateY(-50%);
      z-index: -1;
    }
    select {
      min-height: 42px;
      border-radius: 2px;
      padding: 2px 10px;
      border: 1px solid $input-border;
      box-shadow: none;
      background: transparent;
      // Hidden default arrow.
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      // For IE.
      &::-ms-expand {
        display: none;
      }
      @include tablet {
        min-height: 45px;
      }

      &, & option {
        @include font($font-size-deck-md, 400, $font-family-base, 1, $select-list-text-color);
      }
    }
  }
}

// Range slider.
#slider-range,
.ui-slider-range {
  height: 3px;
  background: $input-border;

  .ui-slider-range {
    background: $link-color;
  }
  &, .ui-slider-handle {
    border: 0 none;
    border-radius: 0;
  }

  .ui-slider-handle {
    height: 19px;
    width: 9px;
    top: -8px;
    margin-left: -4px;
    background: $link-color;
    line-height: 57px;
    white-space: nowrap;
    color: $text-color;

    &:first-of-type {
      text-indent: -25px;
    }
  }
}

// Facets range slider.
.facets-widget-range_slider {
  max-width: 97%;

  .item-list__range_slider {
    div, span {
      border: 0 none;
      border-radius: 0;
    }
  }

  .facet-slider {
    height: 3px;
    margin: 18px 0 8px;

    &,  .ui-slider-range {
      background: $link-color;
    }

    .ui-slider-handle {
      height: 19px;
      width: 9px;
      top: -8px;
      margin-left: -4px;
      background: $link-color;

      .ui-slider-tip {
        top: 22px;
        @include font($font-size-base, 400, $font-family-base, 1.2);
      }

      &:nth-of-type(2) .ui-slider-tip {
        margin-left: -28px;
      }

      &:nth-of-type(1) .ui-slider-tip {
        margin-left: -7px;
      }
    }

    .ui-slider-line,
    .ui-slider-label {
      display: none;
    }

    .ui-slider-tip {
      &:before {
        display: none;
      }
    }
  }
}

// Facets select.
.facets-widget-dropdown {
  .select2-container .selection {
    .select2-selection {
      min-height: 36px;
      height: 100%;
      border-radius: 2px;
      background: transparent;
      font-size: $font-size-base;
      padding: 8px 10px;
      border: 1px solid $border-color;
      box-shadow: none;

      &__rendered {
        @include font($font-size-deck-md, 400, $font-family-base, 1, $search-facets-text-color);
        margin-right: 0;
        padding: 0;
      }

      b {
        display: none;
      }
    }
  }
}

.select2-dropdown {
  .select2-results__option {
    font-size: $font-size-deck-sm;
  }
}
