.title-merri {
  @include title-merri;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h5.caps {
  @include font($font-size-h5, 600, $font-family-base, 1.29, $minor-heading-color);
  text-transform: uppercase;
}

h6 {
  @include h6;
}

.caption-bold {
  @include font($font-size-base, 700, $font-family-base, 1.29, $caption-color);
}

.small-caps {
  @include font($font-size-deck-sm, 700, $font-family-base, 1.29, $text-color);
}

.lead {
  @include font($title-xs, 600, $font-family-base, 1.5, $lead-text-color);
}

label {
  @include font($font-size-deck-md, 400, $font-family-base, 1.29, $label-color);
}

.field--label {
  @include field--label;
}


a {
  @include font($font-size-deck-md, 400, $font-family-base, 1.29, $link-color);
}

a:active {
  text-decoration: underline;
  color: $link-active-color;
}



a:focus {
  box-shadow: $link-shadow;
  border-radius: 2px;
}


p {
  @include font($font-size-deck-md, 400, $font-family-base, 1.5, $text-color);
  li & {
    font-size: 1em;
  }
}

ul:not(.toolbar-menu, .menu, .nav, .contextual-links, .tabs-nav, .select2-results__options) {
  list-style-type: disc;
  padding-left: 20px;
  overflow: hidden;

  li {
    @include font(17px, 400, $font-family-base, 1.5, $text-color);
  }
}

ol:not(.toolbar-menu, .menu, .nav, .contextual-links, .tabs-nav, .select2-results__options) {
  li {
    @include font(17px, 400, $font-family-base, 1.5, $text-color);
  }
}

//uls inside of a text-area (ckeditor creaated) should be blue bullets
body .field--type-text-with-summary,
body .field--type-text-long {
  ul {
    padding-left: 0px !important;
    list-style-type: none !important;
    overflow: hidden;

    li {
      position: relative;
      padding-left: 20px;

      &:before {
        content: '';
        @include absolute(8px, 0);
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-right: 12px;
        border-radius: 50%;
        background: #205493;
      }
    }
  }
}


ol {
  padding-left: 25px;
  overflow: hidden;
}

p:not(:last-child) {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

// Blue list style.
.blue-list {
  @include blue-list;
}

// Icons.
// FWS Focus icon.
.block-facet-blockregulated .block-title,
span.fws-focus,
.fws-focus:not(.view-species-population-connection),
#edit-container-container-0--description,
.block-fws-species .table thead tr th:last-child {
  @include icon('\f132', 17px, 700, 1, $icon-default-bg-color);

  &:before {
    margin-right: 3px;
  }
}

// Regulated.
.facet-item label[for*='regulated-'] .facet-item__value,
.field--name-field-regulated,
.form-item-regulated label span,
.regulated {
  @include icon('\f0e3', 17px, 700, 1, $icon-default-bg-color);

  &:before {
    margin-right: 3px;
  }
}

// Occurs.
.facet-item label[for*='occurs_on_national_wildlife_refuge_system-'] .facet-item__value,
.form-item-occurs label span,
.occurs-on-national-wildlife-refuge-system {
  @include icon('\f5a0', 17px, 700, 1, $icon-default-bg-color);

  &:before {
    margin-right: 3px;
  }
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

figure {
  position: relative;

  figcaption {
    line-height: 22px;
    font-weight: 300;
  }
}

@media (min-width: 0) and (max-width: 480px) { 
  figure.align-left {
    float: none;
  }
}

.ui-widget {
  @include font($font-size-base, 400, $font-family-base, 1.29, $text-color);
}

// Explainer Links Using Glossify
span.glossify-tooltip-popup {
  text-decoration: none;
  color: $text-color;
  border-bottom: 1px dashed $explainer-link;
  padding-bottom: 0;
}

span.glossify-tooltip-popup:hover {
  color: $explainer-link;
}

span.glossify-tooltip-popup:active {
  background-color: $explainer-link-highlight;
}

span.glossify-tooltip-popup:focus {
  background-color: $explainer-link-highlight;
}

.tooltip  {
  &.in {
    opacity: 1;
  }
  .tooltip-inner {
    color: $text-color;
    background: $explainer-tooltip-background;
    background-color: $explainer-tooltip-background;
    border: 1px solid $border-color;
    padding: 14px;
    @include font($font-size-deck-md, 400, $font-family-base, 1.5, $text-color);
    text-align:left;
  }
}

span.glossify-tooltip-popup > span.glossify-tooltip-content {
  width: 290px;
  text-decoration: none;
  color: $text-color;
  background: $explainer-tooltip-background;
  background-color: $explainer-tooltip-background;
  border-bottom: none;
  border: 1px solid $border-color;
}

.glossify-content-header {
  strong {
    text-transform: capitalize;
  }
}