//temporary, remove it later
.one-image-block {
    .image-with-credit {
        .image-credit {
            position: absolute;
        }
    }
}

.image-with-credit {
    position: relative;

    .image-credit {
        //position: absolute;
        bottom: 0px;
        color: white;
        padding: 5px 15px 5px 15px;
        background: rgba(0, 0, 0, .7);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;

        a {
            color: white;
            font-weight: bold;
        }

        * {
            display: inline;
        }
    }
}

/* .attribution is added by thumbnail media with credit formatter. If it's a banner image, the attribution is actually moved to a new spot so
    atribution is set to display none initilaly (in the banner only SCSS). Then some JS in scripts.js moves the location of attribution and 
    adds the "show" class so that banners with .attribution.show are visible. The standard way for non banner is to always show attribution */
.attribution {
    a {
        font-size: 14px;
        text-decoration: none !important;

        &:hover {
            text-decoration: underline !important;
        }
    }
}

figure figcaption {
    a {
        font-size: 16px !important;
        font-weight: 300 !important;
        text-decoration: none !important;

        &:hover {
            text-decoration: underline !important;
        }
    }
}