.release-filter-form,
.views-element-container {
  .view-content .views-field a {
    white-space: nowrap;
  }

  .panel-heading,
  .panel-title {
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(.collapsed) .fa-caret-down {
        transform: rotate(180deg);
      }
    }
  }

  .panel-body {
    padding: 20px;
  }
}

#edit-filters--content,
.views-exposed-form {

  .form--inline {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 25px;

    &:before {
      display: none;
    }

    label {
      margin-right: 5px;
    }
  }
}
