.staff-profile.author {
    .layout--twocol-section {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 5px;

        .layout__region--first {
            flex-shrink: 1;
            flex-basis: auto;
            width: auto;

            .block-field-blocknodestaff-profilefield-staff-profile-image,
            .default-staff-profile-image {
                width: 60px;
                margin-bottom: 0;

                img {
                    border-radius: 50%;
                    margin: 0;
                    height: auto;
                }
            }
        }

        .layout__region--second {
            display: flex;
            align-items: center;
            .block-field-blocknodestaff-profiletitle {
                .block-title {
                    font-size: 16px;
                }
                span a {
                    font-size: 19px;
                }
            }
        }
    }
}