



{# Renders Column Style field. #}
{# Sets class name from values in database. #}
{% if content.field_column_style|render %}
  {% set column_style = content.field_column_style['#items'].getString() %}
  {% set column_style_classes = [
    'paragraph--style--75-25' == column_style ? 'paragraph--style--75-25',
    'paragraph--style--66-33' == column_style ? 'paragraph--style--66-33',
    'paragraph--style--25-75' == column_style ? 'paragraph--style--25-75',
    'paragraph--style--33-66' == column_style ? 'paragraph--style--33-66',
    'paragraph--style--50-50' == column_style ? 'paragraph--style--50-50',
  ]
  %}
{% endif %}

{# The template default set classes. #}
{# Sets Paragraph ID as class. #}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'paragraph--id--' ~ paragraph.id.value,
]
%}


{# Merges Column Style field with classes. #}
{% set column_style_field = content.field_column_style|render %}
{% if column_style_field %}
  {% set classes = classes|merge(column_style_classes) %}
{% endif %}



{# Prints div with classes, and content without Width and Background. #}
<div{{ attributes.addClass(classes) }}>
  <div class="paragraph__column">
    {{ content|without('field_column_style') }}
  </div>
</div>