article.federal-register-document.full,

.block-field-blockmediafederal-register-documentfield-html-url,
.block-field-blockmediafederal-register-documentfield-media-file,
.block-field-blockmediafederal-register-documentfield-comment-url {
    display: inline-block;
    width: auto;
}
.federal-register-document-file {
    .field {
        margin-bottom: 15px;

        .field--label {
            margin: 0;
        }
    }

    .margin-block {
        margin-top: 0px;
    }
  
    // Not technically a service content type, but this styling is borrowed from the
    // full_content services stylsheet (though applied generically in the layout builder)
    .services-card {
        display: flex;
        margin-top: 20px;
  
        section {
            margin: 20px 20px 30px 20px;
        }
    }

    .field--name-field-pdf-url, 
    .field--name-field-html-url,
    .field--name-field-comment-url,
    .field--name-field-media-file {
        display: block;
        margin-right: 0px;

        @include tablet {
            display: inline-block;
            margin-right: 15px;
        }
        > a {
            @include btn-primary;
            font-size: 0;
            letter-spacing: 0px;

            &:after {
                font-size: 16px;
                content: 'View Federal Register Document';
                font-family: inherit !important;
            }
        }
    }

    .field--name-field-media-file {
        .file-link {
            > a{
                &:after {
                    content: 'View PDF' !important;
                    font-family: inherit !important;
                }
            }
        }
    }
    .field--name-field-comment-url {
        > a:after {
            content: 'Leave a Comment';
            font-family: inherit !important;
        }
    }

    .field--name-field-media-file {
        .file--mime-application-pdf {
            
            .file-link a {
                @include btn-primary;

                &:after {
                    font-size: 16px;
                    content: 'Download PDF';
                }
            }

            .file-icon, .file-size, .file-link a {
                font-size: 0;
                letter-spacing: 0px;
            }
        }
    }
}