//there actually isn't a content type named news, but a press release and a story are both considered
//news and are so similar that i used one stylesheet to do them both. 
article.story:not(.teaser, .mini-teaser),
article.press-release:not(.teaser, .mini-teaser) {

    .block-field-blocknodepress-releasetype {
        text-transform: uppercase;
        font-weight: 600;
    }

    .field--name-field-short-title {
        @include h1;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .field--name-field-sub-title {
        @include h2;
        margin-top: 5px;
    }

    .block-field-blocknodestoryfield-post-date,
    .block-field-blocknodepress-releasefield-post-date  {
        margin-bottom: 25px;
    }


    .block-field-blocknodestoryfield-media-contacts,
    .block-field-blocknodepress-releasefield-media-contacts {
        margin-bottom: 30px;
        .field--label {
            font-weight: 600;
            margin-bottom: 0px;
        }
    }

    .block-field-blocknodestorybody,
    .block-field-blocknodepress-releasebody {
        margin-bottom: 35px;

        //creates a drop cap effect
        div.field--name-body {
            > p:first-child:first-letter {
                float: left;
                font-family: $font-family-merri;
                font-weight: bold;
                font-size: 52px;
                line-height: 43px;
                padding-top: 4px;
                padding-right: 8px;
                padding-left: 3px;
            }
        }
        
    }

    .block-field-blocknodestorybody {
        margin-top: 25px;
    }

    .block-field-blocknodestoryfield-subject-tags,
    .block-field-blocknodepress-releasefield-subject-tags {
        border-top: 2px solid #d8d8d8;
        margin-bottom: 30px;

        .block-title {
            font-weight: normal;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .field--name-field-subject-tags {
            display: flex;
            flex-wrap: wrap;
            .field--item {
                @include tags-button;
                margin-right: 15px;
                margin-bottom: 10px;
            }
        }
    }
    .block-field-blocknodestoryfield-subject-tags {
        .field--item {
            // &:hover {
            //     background-color: #d8d8d8;
            // }
            a {
                color: #4a4a4a;
                font-weight: bold;
                &:hover {
                    color: #4a4a4a;
                }
            }
        }
    }
    .block-field-blocknodestoryfield-activities,
    .block-field-blocknodepress-releasefield-activities {
        margin-bottom: 25px;

        .field--name-field-activities {
            display: flex;
            flex-wrap: wrap;
            
            > .field--item {
                flex-basis: 100%;
                margin-bottom: 25px;

                @include tablet {
                    flex-basis: 50%;
                }

                @include desktop {
                    flex-basis: 33%;
                }
            }
        }
    }

    .news-meta-data {
        margin-bottom: 20px;
        > .layout__region {
            > section {
                margin-bottom: 30px;
            }
        }

        .block-field-blocknodestoryfield-story-category,
        .block-field-blocknodepress-releasefield-story-category {
            .field--name-type {
                font-size: 19px;
            }
        }

        .block-field-blocknodepress-releasetype {
            text-transform: none;
            font-weight: normal;
            .field--name-type {
                font-size: 19px;

                @include icon('\f0a1', 21px, 700, 39px, $color-white);

                &:before {
                    margin-right: 25px;
                    width: 40px;
                    height: 40px;
                    background: $link-color;
                    border-radius: 50%;
                    text-align: center;
                }
            }
        }
    }

    .fws-news-signup-block {
        margin-bottom: 40px;
    }

    .field--name-field-related-media {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 10px;

        > .field--label {
            margin-bottom: 10px;
        }

        > .field--item {
            flex-basis: 200px;
            margin-right: 15px;
            margin-bottom: 20px;

            @include mobile-xs {
                margin-right: 0px;
                margin-bottom: 0px;
            }
        }

        .document-square-thumbnail {
            .layout__region {
                position: relative;

                @include mobile-xs {
                    max-width: 100%;
                }

                .block-field-blockmediadocumentname {
                    position: absolute;
                    bottom: 0px;
                    color: white;
                    padding: 5px 15px 5px 15px;
                    background: rgba(0, 0, 0, .7);
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 16px;
                }

            }
        }

    }

}