article.partner.full {

    .content {
        .margin-block:first-child {
            margin-top: 0px;
        }

        .field--name-body {
            margin-top: 15px;
        }
    }
    .block-field-blocknodepartnertitle {
        span {
            @include h1;
            display: block;
            margin-bottom: 25px;
            margin-top: 0px;
        }
    }

    .block-views-blockother-partners-other-partners {
        .view-header {
            margin-bottom: 15px;
        }

        .more-link {
            display: flex;
            justify-content: center;
        }

        .view-content {
            .views-row {
                display: flex;
                float: none;
                align-items: center;

                .views-col {
                    .field--item {
                        width: 80%;
                        display: flex;
                        justify-content: center;
                    } 
                }
            }
        }
    }

    .block-views-blockpartner-button-link-partner-link {
        .view-partner-button-link {
            .views-field-title {
                a {
                    @include icon('\f35d', 16px, 700, 20px, white, 'after');

                    &:after {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}