article.service.full {

    .margin-block {
        margin-top: 0px;
    }

    .services-card {
        display: flex;
        margin-top: 20px;

        section {
            margin: 20px 20px 30px 20px;

            .field--name-field-sys-id, .field--name-field-u-cat-item-id {
                text-align: center;
            }
        }
    }


    .layout__region--content {
        //by default this is flex, which messes w/ the floated image below
        display: block;

        > section:not(.block-field-blocknodeservicefield-service-description,
                        .block-field-blocknodeservicefield-image) {
            margin-top: 35px;
        }

        section[class*="block-extra-field-"] {
            margin-top: 0px;
            
            .simple-btn {
                margin-bottom: 20px;
            }
        }

        > .block-field-blocknodeservicefield-image {
            float: left;
            margin-right: 25px;
            width: 290px;
            margin-bottom: 20px;
    
            @include mobile-xs {
                float: none;
                margin-right: 0px;
                width: 100%;
            }
        }
    }

    .block-field-blocknodeservicefield-get-started {
        .paragraph {
            margin-bottom: 25px;
        }

        .paragraph--type--get-started-document {
            .field--name-field-document-reference {
                .field--name-field-media-file {
                    span.file-icon, span.file-size {
                        display: none;
                    }
                    span.file-link {
                        a {
                            @include btn-primary;
                        }
                    }
                }
            }

        }

        .field--name-field-description {
            margin-bottom: 25px;
        }
    }
}