.quiz__parameters {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.quiz__info h2 {
  margin-top: 0;
}

.quiz__info .quiz__parameter {
  padding: 0;
  margin: 0;
}

.quiz__utils {
  display: flex;
  align-items: center;
}

.quiz__tracker {
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
}

.quiz__timer {
  display: flex;
  justify-content: center;
}

.timer-circle {
  position: relative;
  width: 52px;
  height: 52px;
}

.timer-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}

.timer-svg {
  width: 52px;
  height: 52px;
  transform: rotate(-90deg);
}

.timer-svg circle {
  fill: none;
  stroke-width: 3;
}

.timer-svg circle:first-child {
  stroke: #E7E7E7;
}

.timer-svg circle:last-child {
  stroke: #205493;
  stroke-dasharray: 151px;
  transition: stroke-dashoffset 1s linear;
}

.quiz__container {
  position: relative;
}

/* Hiding quiz content for the intial state */
.quiz__item:not(:first-child),
.quiz__response,
.quiz__feedback,
.quiz__answer,
.quiz__complete {
  display: none;
}

.quiz__prompt img {
  width: 100%;
}

.quiz__guess .form-text {
  max-width: 320px;
}

.quiz__results {
  padding: 0 0 20px;
}

.quiz__answer .quiz__result {
  padding: 0;
  margin: 0;
}

