//import variables from base theme
@import '../../../fws/styles/scss/_default-variables';
// import bootstrap variables
@import '../../../fws/bootstrap/assets/stylesheets/bootstrap/variables';

//put fws_gov specific variables here
$icon-bg-green: #2a7c80;

//buttons
$btn-species-print-bg: #d6d7d9;
$help-icon-color: #d47500;

//views
$views-timeline-border-color: #444;
$views-timeline-bg-color: #444;
$views-timeline-icon-bg-color: #d47500;
$views-tab-item-text-color: #6b6b6b;
$views-timeline-headline-color: #205493;
$views-header-tabs-item-text-color: #205493;
$views-filters-content-block-title-color: #205493;

//blocks
$block-type-image-and-text-bg-color: #003366;

//slideshows
$slideshow-slick-dots-border-color: #205493;
$slideshow-slick-dots-active-bg-color: #205493;

//teasers
$teaser-body-text-color: #4a4a4a;
$teaser-metadata-text-color: #6b6b6b;

$unused_variable: #111222;