// Brand Colors
$blue-lighter: #6194d3;
$blue-light: #4c76a8;
$blue-medium: #205493;
$blue-dark: #021d44;
$blue-darker: #011430;

// Grayscale colors
// TODO: Gray colors need to be updated to match historical values
$white: #FFFFFF;
$gray-lighter: #FAFAFC;
$gray-light: #F3F3F5;
$gray-medium: #8E8C99;
$gray-dark: #3F3E46;
$gray-darker: #202022;
$black: #000000;
