@use 'utils/colors' as *;

*:focus,
a:focus {
  outline: none;
  box-shadow: none;

  &:focus-visible {
    box-shadow: 0 0 0 2px $blue-light, 0 0 0 6px rgba($blue-light, .25);
    border-radius: 2px;
  }
}

video {
  height: auto;
  max-width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Preventing white line display on the bottom of the page
#drupal-live-announce {
  bottom: 0;
}
