@use 'breakpoints' as *;
@use 'colors' as *;

@mixin font--primary($weight: 400) {
  font-weight: $weight;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

@mixin font--secondary($weight: 400) {
  font-weight: $weight;
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

@mixin headings {
  h1, h2, h3,
  h4, h5, h6 {
    & {
      @content;
    }
  }
}

html, body {
  @include font--primary;
  color: $gray-dark;
  -webkit-font-smoothing: antialiased;
}

@mixin h1 {
  @include font--primary(600);
  color: $blue-medium;
  font-size: 2em;

  @include breakpoint(lg) {
    font-size: 2.75em;
  }
}

h1, .h1.h1 {
  @include h1;
}

@mixin h2 {
  @include font--primary(600);
  color: $blue-medium;
  font-size: 1.75em;

  @include breakpoint(lg) {
    font-size: 2.125em;
  }
}

h2, .h2.h2 {
  @include h2;
}

@mixin h3 {
  @include font--primary(600);
  color: $blue-medium;
  font-size: 1.25em;

  @include breakpoint(lg) {
    font-size: 1.5em;
  }
}

h3, .h3.h3 {
  @include h3;
}

@mixin h4 {
  @include font--primary(600);
  color: $blue-medium;
  font-size: 1.125em;

  @include breakpoint(lg) {
    font-size: 1.25em;
  }
}

h4, .h4.h4 {
  @include h4;
}

@mixin h5 {
  @include font--primary(800);
  color: $blue-medium;
  font-size: 1em;

  @include breakpoint(lg) {
    font-size: 1.125em;
  }
}

h5, .h5.h5 {
 @include h5;
}

@mixin h6 {
  @include font--primary(800);
  color: $blue-medium;
  font-size: 1em;
}

h6, .h6.h6 {
  @include h6;
}

p, .p1.p1 {
  @include font--primary;
  color: $gray-dark;
  font-size: 1em;
}

.p2.p2 {
  @include font--primary;
  color: $gray-dark;
  font-size: 0.875em;
}

.p3.p3 {
  @include font--primary;
  color: $gray-dark;
  font-size: 0.625em;
}

.disclaimer {
  font-size: 0.875em;

  +.disclaimer {
    padding: 15px 0 0;
  }
}

a {
  color: $blue-medium;

  &:hover,
  &:focus {
    color: $blue-dark;
  }
}

.field--name-field-response,
.field--name-body {

  ul, ol {
    padding: 0 0 0 30px;
    margin: 0;

    li + li {
      margin-top: 20px;
    }
  }

  ol {
    ::marker {
      @include font--primary(700);
      color: $blue-medium;
    }
  }
}

.info-box {
  background-color: $blue-lightest;
  padding: 20px;
  margin: 0 0 30px;
  border-radius: 4px;
  border: 2px solid $blue-medium;

  @include headings() {
    margin-top: 0;
  }
}
