$icon-font-path: '../../bootstrap/assets/fonts/bootstrap/';

// Basic colors... try not to create colors like this that are generic
$color-white: #fff;
$color-black: #000;
$color-extra-dark-grey: #1b1c1a;


//text colors
$text-color: #4a4a4a;
$lead-text-color: #205493;
$label-color: #1b1c1a;
$caption-color: $text-color;
$select-list-text-color: #1b1c1a;
$border-color: #d8d8d8;
$input-border: #979797;
$tabs-bg-color: rgba(#eee, .5);

//headings
$major-heading-color: #205493;
$minor-heading-color: $text-color;
$medium-heading-color: #205493;

//links and explainer
$link-color: #0066cc;
$link-color-dark: #444;
$link-hover-color: $link-color;
$link-active-color: #003366;
$explainer-link: #2a7c80;
$explainer-link-highlight: #dfecec;
$explainer-tooltip-background: rgba(223, 236, 236, 1);


$color-black-gradient: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
$color-black-card-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.60) 55%, rgba(0, 0, 0, 0.80) 100%);
$topic-gradient: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 32%, rgba(0, 0, 0, 0.8) 100%);
$header-gradient: linear-gradient(-180deg, rgb(2, 29, 68) 0%, rgb(14, 51, 99) 40%, rgba(23, 67, 123, 0.8) 69%, rgba(32, 84, 147, 0.8) 100%);
$nav-gradient: linear-gradient(-180deg, rgb(2, 29, 68) 0%, rgb(32, 84, 147) 100%);


//== Typography
$font-family-base: 'Source Sans Pro',
sans-serif;
$font-family-merri: 'Merriweather',
serif;
$font-family-icons: 'Glyphicons Halflings';
$font-family-font-awesome: 'Font Awesome 5 Pro';
$font-awesome-bg: #f7f9fb;

$font-size-base: 16px;

$font-size-h1: 2.75em; // 44px
$font-size-h2: 2.125em; // 34px
$font-size-h3: 1.5em; // 24px
$font-size-h4: 1.187em; // 19px
$font-size-h5: 1.062em;
$font-size-h6: $font-size-h5;

// Deck.
$font-size-event-day: 3.375em; // 54px.
$font-size-deck-lg: 1.187em; // 19px.
$font-size-deck-md: 1.062em; // 17px.
$font-size-deck-sm: .875em; // 14px.

// Title.
$title-xl: 3.25em; // 52px.
$title-lg: 2.75em; // 44px.
$title-xmd: 2.5em; // 40px.
$title-md: 2.125em; // 34px.
$title-sm: 1.5em; // 24px.
$title-xs: 1.375em; // 22px.


// Box shadow.
$text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5),
0px 0px 4px rgba(0, 0, 0, 0.7);
$link-shadow: 0px 0px 3px 3px rgba(140, 219, 222, 0.68);
$link-heading: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
0px 2px 2px 0px rgba(0, 0, 0, 0.24);
$popup-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
$triangle: 0.35px -2px 3px rgba(0, 0, 0, 0.1);
$timeline-shadow: 0px 0px 1px 2px rgb(114, 175, 192);
$green-content: 0px 0px 3px 2px rgb(114, 175, 192);
$slider-story-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3),
0px 6px 6px 0px rgba(0, 0, 0, 0.24),
0px 0px 12px 0px rgba(0, 0, 0, 0.12),
0px 12px 12px 0px rgba(0, 0, 0, 0.24);

// Breakpoints.
$desktop-width: 992px;
$desktop-large-width: 1200px;
$tablet-width: 768px;
$mobile-xs: 480px;
$mobile-width: $tablet-width - 1px;
$desktop-4k: 1920px;
$screen-sm-min: 992px;

// Icons and images.
$footer-image: url('../../images/footer-image-bw.jpg') no-repeat center/cover;
$nav-bg: url('../../images/nav-bg.png') no-repeat center bottom;
$search: url('../../images/icon/search.png') no-repeat 99% center $color-white;
$icon-social-media-bg-color: #205493;
$icon-default-bg-color: #4a4a4a;

//font awesome icon sizes
$font-awesome-solid-icon: 900;
$font-awesome-regular-icon: 400;
$font-awesome-light-icon: 300;

//side menu
$sidebar-menu-link-color: #4a4a4a;
$sidebar-menu-bg-color: #205493;
$sidebar-menu-active-link-color: #205493;
$sidebar-menu-active-link-border-color: #0066cc;
$sidebar-menu-border-color: #ccc;

//search
$search-text-color: #6b6b6b;
$search-facets-text-color: $search-text-color;

//tables
$table-bg-accent: #f7f9fb;

//dropdowns
$dropdown-bg: #021d44;
$dropdown-border: none;
$dropdown-fallback-border: none;
//$dropdown-link-active-color:
//$dropdown-link-color:  
//$dropdown-link-hover-color: 
$dropdown-link-hover-bg: #083971;

//blocks
$block-bg-accent: #f7f9fb;
$block-title-bg-color: #003366;

//views
$views-row-bg-accent: $table-bg-accent;
$views-exposed-filer-text-color: #6b6b6b;
$footnotes-color: #6b6b6b;

//buttons
$btn-simple-color: #0066cc;
$btn-simple-hover-color: #fff;
$btn-simple-bg: #021d44;
$btn-simple-border: $btn-simple-bg;
$btn-simple-bg-hover: #003366;
$btn-simple-border-hover: #003366;
$btn-simple-white-hover-color: #003366;
$btn-icon-bg-strong-cayn: #2a7c80;
$btn-icon-bg-strong-cayn-hover: darken($btn-icon-bg-strong-cayn, 10%);

$btn-primary-color: $color-white;
$btn-primary-bg: #0066cc;
$btn-disabled-bg: #ccc;
$btn-primary-border: #0066cc;

$btn-secondary-color: #0066cc;
$btn-secondary-bg: $color-white;
$btn-secondary-border: #0066cc;
$btn-secondary-bg-hover: #eee;

//nav
$nav-has-children-bg: #f7f9fb;

//navbar
$navbar-default-bg: #021d44;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-toggle-hover-bg: transparent;

//mega menu
$mega-menu-bg-color: #021d44;
$mega-menu-submenu-bg-color: #021d44;
$mega-menu-close-button-bg-color: #021d44;

//mobile specific
$mobile-header-left-padding: 10px;
$mobile-main-menu-bg-color: #205493;
$mobile-main-menu-top-level-bg-color: #0a5395;
$mobile-main-menu-sub-level-color: #4a4a4a;
$mobile-main-menu-top-level-item-underline: rgba(255, 255, 255, 0.25);
$mobile-main-menu-item-underline: rgba(215, 215, 213, 0.5);
$mobile-main-menu-toggle-icon-bg-color: #1A4886;
$mobile-main-menu-back-heading-color: #0a5395;
$mobile-main-menu-back-button-color: #084787;
$mobile-main-menu-forward-button-bg-color: #f7f9fb;
$mobile-main-menu-current-heading-color:#1c6cb9;

//footer
$footer-bottom-bg-color: #003366;