.page-node-type-species .main-container {
  padding-top: 70px;
  padding-bottom: 30px;

  .field--name-field-image {
    > .field--item {
      display:  inline-block;
      margin-right: 10px;

      img {
        height: 158px;
      }
    }
  }
}

.species-search-results {
  .results-count {
    margin: 10px;
  }

  .form-type-select .select-wrapper {
    width: 200px;

    select {
      cursor: pointer;
    }

    &::after {
      top: 31px;
      right: 3px;
      z-index: 10;
    }
  }
}

#node-species-edit-form {
  margin-bottom: 50px;
}

