.block-views-blockactivity-list-activities-list-block {
    .field--name-field-icon {
        svg {
            fill: $views-header-tabs-item-text-color;
            color: $views-header-tabs-item-text-color;
        }
    }
}

.taxonomy-term.full.activity{
    .one-column-page-description {
        div {
            @include plain-page-description;
        }
    }
    
    .activities-content-section {
        section {
            @include container-block;
            padding: 40px 20px 60px 40px;
            .block-title {
                @include h2;
                margin-bottom: 20px;
            }
            .block-field-blocktaxonomy-termactivityfield-related-laws {
                .block-container {
                    padding-left:30px;
                }
            }
        }
    }
    
    .block-fws-search-appactivity-search-map {
        margin-top: 0;
        .block-title {
            margin-left:20px;
        }
        .search-results-meta {
            margin-top:20px;
            margin-left:20px;
            font-weight:bold;
    
        }
        mat-form-field {
            margin-right:20px;
            margin-top:10px;
        }
    }
    
    //Style laws line items
    .block-field-blocktaxonomy-termactivityfield-related-laws {
        .field--item {
            //@include simple-btn-primary;
            margin-bottom: 20px;
            font-size: 18px;
        }
        .load-more__btn, .load-less__btn {
            @include h2;
            .caret-up, .caret {
                font-size:200%;
            }
        }
    }
}

.view-activity-list {
    .views-row {
        min-width: 190px;
        flex-basis: 100%;
        @include tablet {
            flex-basis:33%;
        }
        
    }
    .layout__region--content {
        align-items:start;
        flex-wrap:nowrap;
    }
    @include desktop {
        .views-row {
            flex-basis:25%;
        }
    }
}