.taxonomy-term.region.full {
    .field {
        margin-bottom: 15px;

        .field--label {
            margin: 0;
        }
    }

    .block-field-blocktaxonomy-termregionfield-url {
        .field--name-field-url {
            > a {
                @include btn-primary;
                font-size: 0;
                letter-spacing: 0px;
    
                &:after {
                    font-size: 16px;
                    content: 'Contact Us' !important;
                }
            }
        }
    }
    .layout--twocol-section {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 35px;

        .layout__region--first {
            flex-shrink: 1;
            flex-basis: auto;
            width: auto;

            .block-field-blocktaxonomy-termregionfield-image {
                @include mobile-thumbnail;
                @include thumbnail(400px, 30px); 

                img {
                    margin: 0;
                    height: auto;
                }
            }
        }
        .layout__region--second {
            flex-wrap: wrap;
            flex-grow: 1;

            .field--name-field-states {
                .field--item {
                    position: relative;
                    padding-left: 15px;
                    &:before {
                        content: '';
                        @include absolute(8px, 0);
                        display: inline-block;
                        width: 9px;
                        height: 9px;
                        margin-right: 12px;
                        border-radius: 50%;
                        background: #205493;
                    }
                }
            }
        }
    }
}