{#
/**
 * @file
 * Default template to format a HTML email using the Mime Mail module.
 *
 * Copy this file in your default theme folder to create a custom themed email.
 * If you modify this template you MUST be sure to keep the html, body, and
 * header tags. This template should produce a fully-formed HTML document.
 * Failure to include these will result in a malformed email and possibly
 * errors shown to the user when sending email.
 *
 * To override this template for all emails sent by a given module,
 * rename this template to mimemail-messages--[module].html.twig.
 *
 * To override this template for a specific email sent by a given module,
 * rename this template to mimemail-messages--[module]--[key].html.twig.
 *
 * Available variables:
 * - attributes: HTML attributes for the body element of the message.
 * - key: The message identifier.
 * - module: The machine name of the sending module.
 * - css: Internal style sheets.
 * - recipient: The recipient of the message.
 * - subject: The message subject.
 * - body: The message body.
 *
 * @see template_preprocess_mimemail_message()
 *
 * @ingroup themeable
 */
#}
{% set classes = module ? (key ? module ~ '-' ~ key) %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTDHTML4.01Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Mime Mail message template</title>
		{% if css %}
			<style type="text/css">
				<!-- {{ css }} --> 
			</style>
		{% endif %}
		<style type="text/css">
			.slogan a {
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1.062em;
				font-weight: 700;
				font-family: "Source Sans Pro", sans-serif;
				line-height: 1;
				color: #fff !important;
			}
			.footer-bottom a {
				text-decoration: none;
				display: block;
				margin-top: 10px;
				font-size: 1.062em;
				font-weight: 700;
				font-family: "Source Sans Pro", sans-serif;
				line-height: 1;
				color: white;
			}
		</style>
        
	</head>

	<body id="mimemail-body" class="{{ attributes.addClass(classes) }}">
    {# main table for handling over all background color of white #}
    <table cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td bgcolor="0B2E5B" width="650" style="background: linear-gradient(-180deg, #021d44 0%, #0e3363 40%, rgba(23, 67, 123, 0.8) 69%, rgba(32, 84, 147, 0.8) 100%);">
                <table class="header" cellpadding="20">
                    <tr>
						<td valign="top" class="slogan">
							<a href="{{ url('<front>') | render }}" title="FWS Home" rel="home">U.S. Fish &amp; Wildlife Service</a>
						</td>
                    </tr>

                </table>


            </td>
        </tr>
		{# the main body of the messages #}
		<tr>
			<td width="650" bgcolor="FFFFFF">
				
				<div id="center">
					<table class="main" cellpadding="20" width="100%" style="border-left: 1px solid #eee; border-right: 1px solid #eee;">
						<tr>
							<td>
								{{ body|raw }}
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		{# start of the footer #}
		<tr>
			<td bgcolor="39676A">
				<table class="footer-top" cellpadding="20">
                    <tr>
						<td>
							<p style="color: #ffffff; font-family: 'Merriweather', serif; font-style: italic;">Working with others to conserve, protect and enhance fish, wildlife, plants and their habitats for the continuing benefit of the American people.</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="003365" width="650" align="right">
				<table class="footer-bottom" cellpadding="20">
                    <tr>
						<td>
							<a href="https://fws.gov">fws.gov</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
    </table>
		
	</body>
</html>
