article.teaser.event {
  .layout--twocol-section {
    margin-bottom: 0;

    .layout__region--second {

      .field--name-field-event-category {
        display: flex;

        .layout--twocol-section {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
          padding-right: 10px;
    
          .layout__region--first {
            width: 30px;
            padding-right: 5px;
          }

          .block-field-blocktaxonomy-termevent-categoryfield-icon {
            margin-bottom: 0;
          }

          .block-field-blocktaxonomy-termevent-categoryname {
            margin-bottom: 0;

            .field--name-name {
              text-transform: uppercase;
              font-size: $font-size-deck-md;
              font-weight: bold;
            }
          }
        }
      }

      .field--name-field-event-location-name {
        font-size: $font-size-deck-md;
        font-weight: bold;
      }
    }
  }
}