.federal-register-document-file.teaser {

  .field {
    margin-bottom: 0;

    .field--label {
        margin: 0;
        float: none;
    }
  }

  .field--name-field-icon {
    height: 30px;
  }

  .field--name-field-fr-document-type {
    color: $text-color;
    width: 200px;
    font-weight: 500;
    height: 30px;

    .layout--twocol-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;

      .layout__region--first {
        flex: 0 0 50px;
        padding-right: 10px;
      }
    }

    svg {
      width: 30px;
      height: 30px;
      * {
        fill:  $icon-default-bg-color;
      }
    }
  }

  .field--name-field-comments-close-on {
    padding-top: 10px;
  }

  .field--name-field-comments-close-on {
    font-size: 1.187em;
    line-height: 1.3;
  }
}
