article.partner.teaser {
    .layout--twocol-section {
        .layout__region--second {
            .teaser-metadata {
                .field--name-type {
                    @include desktop {
                        @include icon('\f2b5', 18px, 400, 39px, $icon-default-bg-color);
                        &:before {
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                            background: $views-row-bg-accent;
                            border-radius: 50%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}