article.teaser {
    
    .layout--onecol .layout__region--content {
        margin-bottom: 20px; 
        flex-wrap: wrap;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-content: flex-start;

        section {
            margin-bottom: 8px;
        }

        .teaser-title {
            flex-basis: 100%;

            //some teasers could have h2's and if they do we don't want the standard size and margins
            h2 {
                font-size: $font-size-deck-lg;
                margin: 0;
            }

            a {
                font-size: $font-size-deck-lg;
                line-height: 1.3;
            }
        }

        .teaser-body-first-line {
            color: $teaser-body-text-color;
            flex-basis: 100%;
            font-size: 17px;
        }

        .teaser-body, .teaser-body-italic {
            color: $teaser-body-text-color;
            flex-basis: 100%;
            font-size: 17px;
            margin-bottom: 15px;
        }

        .teaser-body-italic {
            font-style: italic;
        }

        .teaser-metadata {
            color: $teaser-metadata-text-color;
            display: flex; //this flex is to keep meta items vertically centered when some have icons and some dont'
            align-items: center;
            flex-basis: 100%;

            @include desktop {
                flex-basis: 33.33%;

                &.teaser-metadata--first {
                    font-weight: bold;

                    .field--name-type {
                        @include desktop {
                            @include icon('\f486', 18px, 700, 39px, $icon-default-bg-color);
                            &:before {
                                width: 40px;
                                height: 40px;
                                margin-right: 10px;
                                background: $views-row-bg-accent;
                                border-radius: 50%;
                                text-align: center;
                            }
                        }
                    }
                }

                &.teaser-metadata--last {
                    justify-content: flex-end;
                }
            }
        }

        .teaser-full-width {
            flex-basis: 100%;
        }

        .field--name-field-species-status {
            .field--item {
                font-weight: bold;
            }
        }
    }
}