article.staff-profile.teaser {
    .staff-profile {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 35px;
        .profile-photo {
            flex-shrink: 1;
            flex-basis: auto;
            width: auto;
            .field--name-field-staff-profile-image,
            .default-staff-profile-image {
                @include mobile-xs {
                    // width from mockup is 50px, need room for padding
                    $thumb-padding: 10px;
                    width: 50px+$thumb-padding;
                    padding-right: $thumb-padding;
                }
                
                $thumb-padding: 30px;
                width: 130px+$thumb-padding; // matches image preset width
                padding-right: $thumb-padding;
                img {
                    border-radius: 5px; // soften the corners
                    margin: 0;
                    height: auto;
                }
                
            }
        }
        .profile-information {
            flex-wrap: wrap;
            flex-grow: 1;
            display: flex;
            align-content: flex-start;
            align-items: flex-start;

            > .field {
                margin-bottom: 7px;
                font-size: 17px;
            }

            .field--name-title, .field--name-field-first-name, .field--name-field-last-name {
                font-size: 19px;
                flex-basis: auto;
                margin-right: 5px;
            }

            .field--name-field-job-title {
                font-weight: bold;
                flex-basis: 100%;
            }

            .field--name-field-program {
                font-weight: bold;
                font-style: italic;
                flex-basis: 100%;
                width:100%;
                display:flex;
                flex-wrap: wrap;
                .field--item:not(:first-child) {
                    padding-left: 6px;
                }
            }

            .field--name-field-staff-additional-roles, 
            .field--name-field-staff-expertise {
                flex-basis: 100%;
                width:100%;
                .field--label {
                    font-size: 17px;
                }
                .field--items {
                    font-size: 17px;
                    display:flex;
                    flex-wrap: wrap;
                    .field--item:not(:first-child) {
                        padding-left: 6px;
                    }
                }
            }

            .field--name-field-address,
            .field--name-field-state,
            .contact-field-group {
                display: flex; //this flex is to keep meta items vertically centered when some have icons and some dont'
                align-items: center;
                flex-basis: 100%;
                color: $teaser-metadata-text-color;
                font-size: 16px;
                @include desktop {
                    flex-basis: 33.33%;
                }

                .form-group {
                    margin-bottom: 0;
                }
            }

            .field--name-field-state {
                .field--label {
                    color: $teaser-metadata-text-color;
                    font-size: 16px;
                }
                .field--item {
                    display: inline-block;
                    margin-bottom: 0px;
                    color: $teaser-metadata-text-color;
                    font-size: 16px;

                    .field--name-field-abbreviation {
                        &:after {
                            content: ', ';
                        }
                    }

                    &:last-child {
                        .field--name-field-abbreviation {
                            &:after {
                                content: '';
                            }
                        }
                    }
                }
            }

            .contact-field-group {
                display: flex;
                margin-bottom: 0;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                border: none;
                box-shadow: none;
                @include mobile-xs {
                    align-items: flex-start;
                }
                cursor: pointer;
                .panel-heading {
                    border: none;
                    background-color: transparent;
                    border-radius: 0px;
                    padding: 0px;
                    .panel-title {
                        color: $teaser-metadata-text-color;
                        font-size: 16px;
                        @include icon('\f2b9', 16px, 700, 1, $link-color);

                        &:before {
                            margin-right: 7px;
                        }
                    }
                    
                }

                .panel-body {
                    @include absolute(100%, 0, auto, auto);
                    flex-direction: column;
                    margin-top: 5px;
                    padding: 10px;
                    background: $color-white;
                    box-shadow: $popup-shadow;
                    white-space: nowrap;
                    z-index: 1;

                    @include mobile-xs {
                        @include absolute(100%, 0);
                    }

                    .field--name-field-phone {
                        margin-bottom: 5px;
            
                        a {
                            @include phone-icon;
                        }
                    }
                }
            }

        }
    }
    a.send-a-message {
        @include email-icon;
    }
}