article.teaser.trail {
  .layout--twocol-section {
    margin-bottom: 0;
  }

  .activities-content-section {
    .layout__region--first {
      flex-basis: 50%;
    }
  }

  .field--name-field-trail-activities {
    .layout__region--content {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      align-items: normal;

      .block-field-blocktaxonomy-termactivityfield-icon {
        flex: 0 0 40px;
        padding-right: 10px;

        svg {
          * {
            fill: #0066cc;
          }
        }
      }
      .block-field-blocktaxonomy-termactivityname {
        a {
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }

  //activities and sustainability use an icon with term name view mode
  // .taxonomy-term.icon_with_term_name {
  //   .layout--twocol-section {
  //     display: flex;
  //     flex-direction: row;
  //     align-items: center;
  //   }
  //   .layout__region--first {
  //     flex: 0 0 40px;
  //     margin-right: 10px;
  //   }
  //   svg {
  //     * {
  //       fill: #0066cc;

  //     }
  //   }
  // }

  .field--name-field-trail-difficulty,
  .field--name-field-suitability {
    .layout--twocol-section {
      display: flex;
      flex-direction: row;
      align-items: center;

      .layout__region--first {
        flex: 0 0 40px;
        padding-right: 10px;
      }
    }
  }

  .field--name-field-description,
  .field--name-field-trail-length,
  .field--name-field-trail-difficulty,
  .field--name-field-estimated-time,
  .field--name-field-route-type,
  .field--name-field-suitability,
  .field--name-field-trail-activities {
    margin-bottom: 10px;
  }
}
