.spotlight-card-list {
    @include card-wrapper-settings;
    justify-content: space-between;

    &.list-length1 {
        justify-content: center
    }

    article.card {
        @include card-base;
        @include card-settings();
        margin: 10px !important;
        .inner-card {
            .card-title {
                a {
                    height: unset;
                    @include tablet {
                        height: 3em;
                    }
                    @include desktop {
                        height: 3em;
                    }
                    @include desktop-large {
                        height: 3em;
                    }
                }
            }
            .card-description {
                @include tablet {
                    height: 6em;
                }
                @include desktop {
                    height: 6em;
                }
                @include desktop-large {
                    height: 6em;
                }
            }
        }
    }
    article.card.cards1 {
        flex: 0 1 50%;
        img {
            width: 100%;
        }
        .card-description {
            height: unset;
        }
        .card-title {
            a {
                height: unset;
            }
        }
    }
    article.card.cards2, article.card.cards4 {
        margin-bottom: 20px !important;
        @include tablet {
            flex: 0 1 47%;
        }
        @include desktop {
            flex: 0 1 47%;
        }
        @include desktop-large {
            flex: 0 1 47%;
        }

        .card-title {
            a {
                height: unset;
                @include tablet {
                    height: 3em;
                }
                @include desktop {
                    height: 3em;
                }
                @include desktop-large {
                    height: unset;
                }
            }
        }
        .card-description {
            @include tablet {
                height: 6em;
            }
            @include desktop {
                height: 4em;
            }
            @include desktop-large {
                height: 4em;
            }
        }
    }
}

.page-node-type-one-column-page {
    .spotlight-card-list {    
        article.card {
            @include desktop {
                height:420px;
            }
            @include desktop-large {
                height:420px;
            }
            @include tablet {
                height:450px;
            }
            .inner-card {
                .card-title {
                    a {
                        height: unset;
                    }
                }
            }
        }
        article.card.cards1 {
            flex: 0 1 50%;
            img {
                width: 100%;
            }
            .card-description {
                height: unset;
            }
            .card-title {
                a {
                    height: unset;
                }
            }
        }
        article.card.cards2, article.card.cards4 {
            margin-bottom: 20px !important;
            @include tablet {
                flex: 0 1 47%;
            }
            @include desktop {
                flex: 0 1 47%;
            }
            @include desktop-large {
                flex: 0 1 47%;
            }
    
            .card-title {
                a {
                    height: unset;
                }
            }
        }
    }
}