article.story.card {
    @include card-base;

    .inner-card {

        .story-category {
            display: flex;

            .story-icon {
                flex-basis: 20px;
                //margin-top: 5px;
                margin-right: 10px;
            }
            .category-link, .field--name-field-story-category {
                @include font($font-size-base, 700, $font-family-base, 1.4);
                color: #4a4a4a;
                height: 2.7em;
                width: 220px;
                line-height: 1.4em;
                display: flex;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden; 
                margin-bottom: 15px;
            }
        }

        .date-link {
            @include font($font-size-base, 400, $font-family-base, 1.4);
            color: black;
        }
    }
}