//this class is added when mega menus are clicked, added to the body and header.
//overflow is hidden cause the mega menu internal div needs 100vw but the vertical scrollbar
//width causes the horizontal width to be wrong, so we igmore overflow x while mega menu is open
body.mega-menu-open {
    overflow-x: hidden;
}

body.toggled {
    right: 0px;
    overflow: scroll !important;

    .block-we-megamenu-blockmain .region-we-mega-menu .navbar-toggle {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    body .overlay {
        z-index: 14;
    }
}

//we-mega-menu close button
.btn-close {
    right: 5px;
    top: 5px;
    background-color: $mega-menu-close-button-bg-color;
    border-radius: 0;
}

.block-we-megamenu-blockmain {
    .region-we-mega-menu {
        background: transparent;
        padding: 0;
        width: 100%;

        @include desktop {
            padding: 0;
            width: auto;
        }

        //this is the one from mega menu
        .navbar-toggle {
            display: none;
        }

        .navbar-we-mega-menu.navbar {
            position: static;
            width: 100%;
            transition: none;
            background-color: $color-white;

            @include desktop {
                min-height: 1px;
                border: 0 none;
                margin-bottom: 0;
                background-color: transparent;
                position: static;
                visibility: visible;
            }

            &.we-mobile-megamenu-active {
                animation: none;
            }

            // Menu level 1.
            .we-mega-menu-ul {
                @include desktop {
                    position: static;
                }

                //adds a home icon before the main menu
                .we-mega-menu-li.home {

                    display: none;

                    @include desktop {
                        display: block;
                    }

                    a {
                        padding: 0;
                        visibility: hidden;
                        font-size: $font-size-deck-md;
                        width: 1em;

                        &:before {
                            @include desktop {
                                content: "\f015";
                                font-family: "Font Awesome 5 Pro";
                                color: white;
                                font-weight: 900;
                                font-size: $font-size-deck-md;
                                position: relative;
                                bottom: 3px;
                                right: 0px;
                                display: block;
                                visibility: visible;
                            }
                        }
                    }
                }

                >.we-mega-menu-li {
                    @include desktop {
                        border: 0 none;
                        font-size: $font-size-base;
                        margin: 0 10px;

                        &:first-child {
                            margin-left: 0;
                        }
                    }

                    >a {
                        padding-left: $mobile-header-left-padding;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        background-color: $mobile-main-menu-bg-color;
                        border-top: 1px solid rgba(255, 255, 255, .38);
                        text-transform: uppercase;
                        color: $color-white;
                        font-weight: bold;

                        @include desktop {
                            position: relative;
                            background-color: transparent;
                            padding: 0 10px 19px;
                            border: none;
                            font-weight: normal;
                            @include font($font-size-deck-md, 700, $font-family-base, 1, $color-white);
                        }

                        &:after {
                            @include absolute(0, auto, 0, 0);
                            margin-top: 0px;
                            display: flex;
                            background-color: $mobile-main-menu-toggle-icon-bg-color;
                            align-items: center;
                            padding: 0 17px 0 17px;

                            @include desktop {
                                content: '';
                                @include absolute(auto, 0, 0, 0);
                                height: 6px;
                                width: 100%;
                                background: $color-white;
                                transform: scale(0);
                                transition: .4s ease-in-out;
                                opacity: 1;
                            }
                        }

                        &:before {
                            @include desktop {
                                display: none;
                            }
                        }

                        &:hover {
                            @include desktop {
                                color: $color-white;
                                background-color: transparent;

                                &:after {
                                    @include desktop {
                                        transform: scale(1);
                                    }
                                }
                            }
                        }
                    }

                    &.clicked {
                        @include desktop {
                            position: static !important;

                            >a {
                                color: $color-white;
                                background-color: transparent;

                                &:after {
                                    transform: scale(1);
                                }
                            }
                        }
                    }

                    // Dropdown menu level 2.
                    >.we-mega-menu-submenu {
                        @include desktop {
                            display: none;
                            width: 0px;
                            padding: 0;
                            box-shadow: none !important;
                            border: 0 none;
                            background: $nav-gradient;
                            // min-height: 300px;
                        }

                        >.we-mega-menu-submenu-inner {
                            @include desktop {
                                background: $nav-bg;
                                background-size: cover;
                                min-height: 300px;
                                position: relative;
                                background-position-y: 0;
                                padding-bottom: 42px;
                                padding-top: 31px;
                            }

                            >.we-mega-menu-row {
                                @include desktop {
                                    position: relative;
                                    max-width: 1024px;
                                    width: 100%;
                                    margin: 0 auto;
                                    //padding-left: 115px;
                                }
                            }
                        }

                        .services-items {
                            @include desktop {
                                max-width: 240px;
                                width: 100%;
                                flex: 0 0 240px;
                                margin: 0;
                            }
                        }

                        .subul {

                            //background: red;
                            @include desktop {
                                background: transparent;
                            }

                            li.we-mega-menu-li {
                                @include desktop {
                                    border-radius: 2px;
                                    margin-bottom: 3px;
                                }

                                &.dropdown-menu {
                                    font-size: $font-size-base;

                                    a.we-mega-menu-li:before {
                                        display: none;
                                    }

                                    &.clicked {
                                        @include desktop {
                                            position: static;
                                            background: rgba($mega-menu-bg-color, .8);
                                        }

                                        >a.we-mega-menu-li {
                                            font-weight: 700;
                                            text-decoration: none;
                                        }
                                    }
                                }

                                a.we-mega-menu-li {
                                    @include font($font-size-deck-lg, 400, $font-family-base, 1, $text-color);
                                    padding: 15px 0px;
                                    border-bottom: 1px solid #ccc;

                                    @include desktop {
                                        display: inline-block;
                                        padding: 8px 15px 9px;
                                        border: 0 none;
                                        @include font($font-size-deck-lg, 400, $font-family-base, 1, $color-white);
                                    }
                                }

                                &:hover {
                                    background: transparent;

                                    @include desktop {
                                        background: rgba($mega-menu-bg-color, .8);
                                    }


                                    >a.we-mega-menu-li {
                                        font-weight: 700;
                                        text-decoration: none;
                                    }
                                }
                            }
                            li.we-mega-menu-li[data-level="1"]:first-child {
                                margin-bottom:7px;
                                a.we-mega-menu-li {
                                    font-size: 1.44em;
                                }
                                span.we-megamenu-nolink {
                                    @include font(1.44em, 400, $font-family-base, 1, $text-color);
                                    padding: 15px 0px;
                                    border-bottom: 1px solid #ccc;

                                    @include desktop {
                                        display: inline-block;
                                        padding: 8px 15px 9px;
                                        border: 0 none;
                                        @include font(1.44em, 400, $font-family-base, 1, $color-white);
                                    }

                                }
                            }

                            //active menu trail 2nd level
                            >li.active {
                                >a {
                                    color: $text-color !important;
                                    padding: 15px 0px;
                                    border-bottom: 1px solid #ccc;

                                    @include desktop {
                                        color: $color-white !important;
                                    }

                                    &:hover {
                                        background: transparent;
                                        border-top: none;

                                        @include desktop {
                                            //background: rgba($mega-menu-bg-color, .8);
                                        }
                                    }
                                }
                            }

                            // Dropdown menu level 3.
                            .we-mega-menu-submenu {
                                background: white;

                                @include desktop {
                                    //this needs to be revised, temp for now
                                    width: 450px;
                                    min-height: 300px;

                                    background: rgba($mega-menu-submenu-bg-color, .8);
                                    border: 0 none;
                                    box-shadow: none !important;
                                    padding: 16px 11px 23px;
                                }

                                .we-mega-menu-col {
                                    margin: 0;
                                    max-width: 100%;
                                    flex: 0 0 100%;
                                }

                                li.we-mega-menu-li {
                                    &:hover {
                                        @include desktop {
                                            background: rgba($link-color, .8);
                                        }
                                    }
                                }

                                a.we-mega-menu-li {
                                    padding: 15px 0px;
                                    font-size: $font-size-base;

                                    @include desktop {
                                        padding: 9.5px 18px 10.5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .close-menu {
                @include absolute(auto, auto, 6px, 49px);
                z-index: 10;
                margin-bottom: 42px;
                &:before,
                &:after {
                    background: $color-white;
                }
            }
        }
    }
}

//we mega menu uses visibility of none, so even when menus are not open they can create horizontal scrollbars
// this rule sets the width to 100 viewport ONLY when the body class is present indicating a mega menu is open
body.mega-menu-open .block-we-megamenu-blockmain .region-we-mega-menu .navbar-we-mega-menu.navbar .we-mega-menu-ul>.we-mega-menu-li>.we-mega-menu-submenu {
    width: 100vw !important;
    display: block;
}

//the nested lists and their padding for mobile
.navbar-we-mega-menu.navbar {
    ul {
        >li {
            ul {
                padding-top: 0px;
                padding-bottom: 0px;
                padding-right: 10px;
                padding-left: 20px;

                @include desktop {
                    padding: 0px;
                }

                >li {
                    ul {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

// Close submenu button.
.close-menu {
    margin: 0;
    max-width: 100%;
    background: transparent;
    border: 0 none;
    cursor: pointer;
    width: 18px;
    height: 18px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 23px;
        height: 2px;
        top: 9px;
        left: 0;
    }

    &:before {
        //top: 2.5px;
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

//this is the main positioning of the mega menu to the right
header.main-nav-right {

    // Menu level 1.
    .we-mega-menu-ul {
        @include desktop {
            float: right;
        }
    }
}

//this is the main positioning of the mega menu to the left
header.main-nav-left {

    // Menu level 1.
    .we-mega-menu-ul {
        @include desktop {
            margin-right: 0px;
            float: left;
            margin-left: 65px;
        }
    }
}

//this is the main positioning of the mega menu to the right with a search
header.main-nav-right.fws-search {
    .we-mega-menu-ul {
        @include desktop {
            margin-right: 36px;
        }
    }
}