$child-selected-menu-border-width: 6px; //the width of the border left on selected children, the padding needs to be offset to make things line up
$padding-left-sub-menu-item: 25px; //the standard left and right padding of children
$padding-sub-menu-item: 15px;
$margin-sub-menu-offset: 18px;

//Book Menu links are not block by default
.menu--book div ul li a {
	display: block;
}
.region-sidebar-first {
	//Don't show the menu on mobile if there is reparenting, but do show on desktop
	.menu--subpage[data-id-parent]:not([data-id-parent=""]),
	nav[data-id-parent]:not([data-id-parent=""]),
	.menu.nav {
		display: none;
	}
	@include desktop {
		.menu--subpage[data-id-parent]:not([data-id-parent=""]),
		nav[data-id-parent]:not([data-id-parent=""]),
		.menu.nav {
			display: block;
		}
	}

	//this includes menu-primary-side menu for generic sites, you can add another menu selector
	// here if you want to  include it as the being styled the same way
	.menu.menu--subpage,
	.menu--primary-side-menu,
	.menu.nav {
		margin-bottom: 20px;

		> li:first-child {
			display: flex;
			align-items: center;
			min-height: 50px;
			background: $sidebar-menu-bg-color;
			border-radius: 2px;
			box-shadow: $link-heading;
			color: $color-white;
			margin-left: 0px;

			> a:first-child,
			a.first {
				position: relative;
				min-width: 100%;
				padding: 7px $padding-sub-menu-item 7px
					calc(#{$padding-left-sub-menu-item} + #{$margin-sub-menu-offset});
				border-color: $sidebar-menu-bg-color;
				font-weight: 700;
				font-size: $font-size-deck-md;
				@include icon("\f104", 24px, 500, 1.4, $color-white);
				color: $color-white;

				&:before {
					@include absolute(50%, $padding-sub-menu-item);
					transform: translateY(-50%);
				}

				&.is-active {
					pointer-events: none;
					padding-left: 35px;

					&:before {
						display: none;
					}
				}
			}
		}

		li {
			margin-left: $margin-sub-menu-offset;
			border-bottom: 1px solid $sidebar-menu-border-color;

			a {
				font-size: $font-size-base;
				color: $text-color;
				text-decoration: none;
				padding: $padding-sub-menu-item;
				border-left: $child-selected-menu-border-width solid transparent;

				&.is-active {
					color: $sidebar-menu-active-link-color;
					font-weight: 700;
					border-left: $child-selected-menu-border-width solid $sidebar-menu-active-link-border-color;
				}
			}

			&.has-children {
				background-color: $nav-has-children-bg;
				> a {
					display: inline-block;
				}
				> a.menu-toggle {
					float: right;
					border-left: none;
					max-width: 40px;
					padding-left:5px;
					padding-right:13px;
					@include icon("\f077", "inherit", "inherit", "inherit", "inherit", "after");
					&:hover {
						cursor: pointer;
					}
				}
				> a.menu-link-text {
					width:127px;
				}
				ul.nav.subnav {
					max-height: 0;
					opacity: 0;
					overflow: hidden;
					transition-property: max-height, opacity;
					transition-duration: 0.5s;
					transition-timing-function: ease-in-out;
					> li {
						border-bottom: none;
						margin-left: 0px;
						a.is-active {
							border-color: transparent;
						}
					}
				}
				&.expanded {
					ul.nav.subnav {
						/* IMPORTANT we need a max-height for the show/hide CSS animations to work but this means we have a max of roughly 8 child items  */
						max-height: 800px;
						opacity: 1;
						overflow: inherit;
					}
					> a.menu-toggle {
						@include icon("\f078", "inherit", "inherit", "inherit", "inherit", "after");
					}
				}
			}
		}
	}
}

.mb-submenu,
.menu.menu--subpage {
	li.dropdown {
		padding-right: 45px;
		position: relative;

		.dropdown-toggle {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			height: 50px;
			width: 45px;
			text-align: center;
			line-height: 50px;
			z-index: 3;

			i {
				color: $mobile-main-menu-current-heading-color;
				font-size: 24px;
				font-weight: 500;
				transform: rotate(0);
				transition: transform 0.5s ease;
			}
		}

		&.open {
			.dropdown-toggle i {
				transform: rotate(90deg);
			}

			a {
				background: none;
			}
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			right: 0;
			top: 1px;
			bottom: 0;
			width: 45px;
			background: $mobile-main-menu-forward-button-bg-color;
			z-index: 2;
		}

		ul {
			padding: 0;
			display: none;

			li {
				a {
					padding: 4px 15px;
				}

				&:last-child {
					border-bottom: none;

					a {
						padding-bottom: 7px;
					}
				}
			}
		}
	}
}
