// Site branding.
.fws-branding {
  display: flex;
  padding-left: $mobile-header-left-padding;
  @include desktop {
    padding-left: 0px;
  }

  &__logo {
    max-width: 40px;
    @include tablet {
      max-width: 67px;
    }
    @include desktop {
      max-width: 55px;
      padding-bottom:12px;
    }
    @include desktop-large {
      max-width: 67px;
      padding-bottom: 0;
    }
  }

  &__name-slogan-wrapper {
    align-self: flex-start;
    margin-left: 15px;
    &:focus-visible {
      outline: none;
    }
  }
  &__name, &__text {
    display: block;
    @include font($title-xs, 600, $font-family-base, 1, $color-white);

    &:hover {
      text-decoration: underline;
      color: $color-white;
    }
    &:focus {
      color: $color-white;
      outline: none;
      box-shadow: none;
    }
    &:focus-visible {
      outline: none;
    }
    &:active {
      color: $color-white;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    font-style: italic; 
  }

}