//position of search based on the theme settings
header.main-nav-right {
  .search-block-form {
    @include desktop {
      float: right;
    }
  }
  // give highlighting to the search icon button
  .form-type-search {
    div.input-group:focus-within {
        border: 2px solid #fff;
    }
    div.input-group:active {
        border: 2px solid #fff;
    }
    div.input-group:focus-within::before {
        left: 7px;
    }
    div.input-group:focus-visible {
        outline: none;
    }
}
}

header.main-nav-left {
  .search-block-form {
    @include desktop {
      float: none;
    }
  }
}

.search-block-form {
  display: block;
  padding: $mobile-header-left-padding;
  order: -1;
  @include desktop {
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    width: 36px;
    height: 36px;
    //margin: -28px 0 0 10px;
    margin: -46px 0 0 10px;
    padding: 0;
  }
  

  .form-group {
    margin-bottom: 0;
  }

  .description {
    display: none;
  }

  .input-group {
    border-radius: 18px;
    @include glyphicon;
    background: rgba($color-white, .15);
    width: 100%;
    @include desktop {
      @include absolute(0, auto, auto, 0);
      display: flex;
      justify-content: space-between;
      width: 36px;
      height: 36px;
      transition: .4s ease-in-out;
      cursor: pointer;
    }
    

    &:before {
      content: "\e003";
      @include absolute(50%, 9px);
      transform: translateY(-50%);
      font-size: 19px;
      color: $color-white;
      z-index: 2;
    }
  }

  .form-search {
    border-radius: 18px 0 0 18px;
    background: transparent;
    z-index: 5;
    border: none;
    padding: 0 0 0 42px;
    @include font($font-size-base, 700, $font-family-base, 2, $color-white);
    @include placeholder {
      font-size: 0;
    }
    @include desktop {
      width: calc(100% - 100px);
      height: inherit;
      z-index: -1;
    }

    &:focus, &:active {
      box-shadow: none;
    }
  }

  //the close button is only used in the desktop display which toggles a search icon to an
  //opened search input. Mobile version is more of a normal seach experience and doesn't require
  // the close button. 
  .close-search {
    display: none;
    @include desktop {
      display: block;
      @include absolute(50%, auto, auto, -26px);
      transform: translateY(-50%);
      padding: 0 4px;
      margin-left: 10px;
      background: transparent;
      border: 0 none;
      cursor: pointer;
      @include font($title-sm, 700, $font-family-base, 10px, $color-white);
      opacity: 0;
      transition: .4s .2s ease-in-out;
    }
  }

  .form-search,
  .button {
    &:focus, &:active {
      box-shadow: none;
      outline: 0;
    }
  }

  .input-group-btn {
    display: none;
    @include desktop {
      @include absolute(0, auto, 0, 0);
      width: 100px;
      opacity: 0;
      display: block;
    }

    .button {
      height: 100%;
      width: 100%;
      padding: 0;
      background: transparent;
      border: 0 none;
      border-radius: 0 18px 18px 0;
      overflow: hidden;
      z-index: -1;

      .sr-only {
        position: static;
        @include font($font-size-base, 700, $font-family-base, 1.8, $color-white);
        text-transform: uppercase;
      }

      .glyphicon-search {
        @include desktop {
          display: none;
        }
      }
    }
  }
}

// Search input active. This state is only used on desktop versions so this whole section
// is wrapped in a media query for desktop
@include desktop {
  .search-bar-visible {
    .navbar-we-mega-menu.navbar {
      visibility: hidden !important;
    }
    .search-block-form .input-group {
      width: 613px;
    }

    &:before {
      left: 11px;
    }

    .form-search,
    .input-group-btn .button {
      z-index: 1;
    }

    .input-group-btn {
      opacity: 1;
      z-index: 1;
    }

    .close-search {
      opacity: 1;
    }

    #block-mainnavigation {
      opacity: 0;
      z-index: -1;
      transition: .1s ease-in-out;
    }
  }
}

#block-mainnavigation {
  opacity: 1;
  transition: .4s .4s ease-in-out;
}
