// Horizontal icons.
.social-media-links--platforms.horizontal {
  margin-bottom: 0;

  li {
    margin: 0 15px;
    padding: 0;
    @include tablet {
      margin: 0 13.5px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.social-media-links--platforms {
  li {
    span.fa {
      font-family: 'FontAwesome';
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: $icon-social-media-bg-color;
      color: $color-white;
      font-size: $font-size-deck-md;
      line-height: 32px;
      transition: .4s ease-in-out;

      &:hover {
        background: darken($icon-social-media-bg-color, 10%);
      }
    }
  }
}
