.paragraph.paragraph--type--columns {

    > .paragraph__column {
        float: left;
        width: 100%;
        padding-bottom: 30px;
    }

    .paragraph--type--column__2col-column1,
    .paragraph--type--column__2col-column2 {
        position: relative;
        min-height: 1px;
    }

    .paragraph--type--column__2col-column1 {
        padding-right: 15px;
    }
    .paragraph--type--column__2col-column2 {
        padding-left: 15px;
    }


}

.paragraph.paragraph--type--columns.paragraph--style--50-50 {
    .paragraph--type--column__2col-column1,
    .paragraph--type--column__2col-column2 {
        @media(min-width: 768px) {
            float: left;
            width: 50%;
        }
    }
}

.paragraph.paragraph--type--columns.paragraph--style--66-33 {

    @media (min-width: 768px) {
        .paragraph--type--column__2col-column1 {
            float: left;
            width: 66.66666667%;
        }

        .paragraph--type--column__2col-column2 {
            float: left;
            width: 33.33333333%;
        }
    }
}

.paragraph.paragraph--type--columns.paragraph--style--33-66 {

    @media (min-width: 768px) {
        .paragraph--type--column__2col-column1 {
            float: left;
            width: 33.33333333%;
        }

        .paragraph--type--column__2col-column2 {
            float: left;
            width: 66.66666667%;
        }
    }
}

//advanced columns, used in blocks
.paragraph.paragraph--type--columns-advanced {
    margin-bottom: 30px;
    > .paragraph__column { 
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
}

.paragraph.paragraph--type--columns-advanced.paragraph--style--33-66 {
    @media (min-width: 768px) {
        .paragraph--type--column__2col-column1 {
            flex-basis: 33.333333%;
            padding-right: 15px;
        }

        .paragraph--type--column__2col-column2 {
            flex-basis: 66.666666%;
            padding-left: 15px;
        }
    }
}

.paragraph.paragraph--type--columns-advanced.paragraph--style--66-33 {
    @media (min-width: 768px) {
        .paragraph--type--column__2col-column1 {
            flex-basis: 66.666666%;
            padding-right: 15px;
        }

        .paragraph--type--column__2col-column2 {
            flex-basis: 33.333333%;
            padding-left: 15px;
        }
    }
}

.paragraph.paragraph--type--columns-advanced.paragraph--style--50-50 {
    @media (min-width: 768px) {
        .paragraph--type--column__2col-column1 {
            flex-basis: 50%;
            padding-right: 15px;
        }

        .paragraph--type--column__2col-column2 {
            flex-basis: 50%;
            padding-left: 15px;
        }
    }
}

.paragraph--type--simple-text {
    .field--type-text-long {
        > h1, > h2, > h3, > h4 {
            margin-top: 0px;
        }
    }
}

.field--name-field-page-paragraph-content {
    .paragraph--type--simple-text {
        margin-bottom: 30px;
    }
}