.paragraph--type--partner {
    padding: 20px 40px;
    .field--name-field-partner-reference {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        align-items: center;
        .field--item {
            max-width:160px;
        }
        @include tablet {
            gap: 30px 80px;
        }
        @include desktop {
            gap: 30px 80px;
        }
    }
}