@use 'utils/breakpoints' as *;
@use 'utils/colors' as *;

footer.footer {
  margin-top: 50px;

  .menu.nav > li > a {
    min-height: 44px;
    padding: 10px 15px;
    margin: 0;

    &:focus-visible {
      border-radius: 4px;
      box-shadow: 0 0 0 2px $white, 0 0 0 6px rgba($white, .25);
      transition: all .125s ease-out;
    }
  }
}

.footer-slogan {

  @include breakpoint(md) {
    padding: 10px 0 0;
  }

  p {

    @include breakpoint(md) {
      margin: 0 10px 0 20px;
    }
  }

  .image-wrapper img {
    width: 100px;

    @include breakpoint(md) {
      width: 65px;
    }
  }
}

.social-media-links--platforms.horizontal {
  overflow: visible;

  a:focus-visible {
    border-radius: 4px;
    box-shadow: 0 0 0 2px $white, 0 0 0 6px rgba($white, .25);
    transition: all .125s ease-out;
  }
}
