@use 'utils/breakpoints' as *;
@use 'utils/colors' as *;
@use 'utils/typography' as *;

@mixin menuUnderline($transparency: .75) {
  position: relative;
  text-decoration: none;
  transition: all .25s ease-out;

  &:after {
    transform: scale(0);
    transition: all .25s ease-out;
  }

  &:hover,
  &:focus,
  &[aria-expanded="true"] {
    outline: 0;

    &:after {
      content: '';
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
      right: 0;
      height: 4px;
      background: rgba($white, $transparency);
      transform: scale(1);
      transition: all .125s ease-out;
    }
  }

  &:focus {
    border-radius: 4px;
    box-shadow: none;
    transition: all .125s ease-out;
  }

  &:focus-visible {
    border-radius: 4px;
    box-shadow: 0 0 0 4px rgba($white, $transparency);
    transition: all .125s ease-out;
  }
}

#block-fws-raf-mainnavigation {
  display: none;
}

.branding {

  &__container {
    display: flex;
    align-items: flex-start;
    max-width: 450px;
    padding: 10px;
    margin-right: 60px;
    color: $white;
    transition: all .25s ease-out;

    @include breakpoint(md) {
      padding: 10px 10px 0;
    }

    @include breakpoint(lg) {
      padding: 20px 10px 0;
    }

    &:hover,
    &:focus {
      color: $white;

      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px $white, 0 0 0 6px rgba($white, .25);
        border-radius: 4px;
        transition: all .125s ease-out;
      }
    }
  }

  &__logo {
    margin-right: 15px;
    width: 50px;

    @include breakpoint(md) {
      width: 65px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }

  &__name {
    @include font--primary(600);
    font-size: 18px;
    color: $white;

    @include breakpoint(md) {
      font-size: 22px;
    }
  }

  &__slogan {
    @include font--primary(400);
    font-size: 14px;
    color: $white;

    @include breakpoint(md) {
      font-size: 16px;
    }
  }
}

header#navbar {
  background: linear-gradient($blue-dark 0%, $blue-dark 25%, rgba($blue-medium, 0.8) 100%);

  #navbar-collapse {
    border-top: 0;
    box-shadow: none;

    &.in {

      #mobile-menu {
        display: block;
      }
    }
  }

  #mobile-menu {
    display: none;
  }

  .navbar-header {
    margin-bottom: 0;

    .navbar-toggle {
      right: 5px;
      top: 5px;
    }
  }

  .menu--utility li a {
    @include breakpoint(lg) {
      @include menuUnderline();
      padding: 15px;
      min-width: 44px;
    }
  }

  > .container {
    width: 100%;
    padding: 0;

    @include breakpoint(lg) {
      width: 970px;
    }

    @include breakpoint(xl) {
      width: 1170px;
    }
  }
}

.menu__toggle {
  height: 48px;
  width: 48px;
  right: 5px;
  top: 5px;
  appearance: none;
  outline: 0;
  border: 0;
  border-radius: 4px;
  transition: all .25s ease-out;
  animation: none;

  &:focus {
    box-shadow: 0 0 0 2px $white, 0 0 0 6px rgba($white, .25);
    border-radius: 4px;
    transition: all .125s ease-out;
  }

  &:before,
  &:after {
    transition: none;
  }
}

.mb-menuwrapper {
  height: calc(100% - 88px);
  top: 88px;

  @include breakpoint(md) {
    height: calc(100% - 108px);
    top: 100px;
  }
}

.navbar-main {
  border: 0;
  width: auto;
  margin-bottom: 0;

  .navbar-nav {
    float: right;
    clear: both;

    & > li {

      & > a {
        font-weight: 700;
        text-transform: uppercase;

        @include breakpoint(lg) {
          @include menuUnderline(1);
        }
      }
    }
  }

  .dropdown-menu {
    background-color: $white;
    list-style: none;
    padding: 0;

    & > li {

      & > a {
        background-color: $white;
        color: $gray-darker;
        padding: 10px 15px;

        &:hover,
        &:focus {
          background-color: $blue-medium;
          color: $white;
          box-shadow: none;
          outline: 0;
        }
      }
    }

    & > .active {

      & > a {
        font-weight: bold;
      }
    }
  }
}

.navbar-default {

  .navbar-nav {

    & > .active {

      & > a {
        color: $white;

        &:hover,
        &:focus {
          color: $white;
        }
      }
    }
  }
}
