.field--name-body {

  img {
    max-width: 100%;
    margin: 0 auto;
  }
}

.fws-branding__name {
  width: 350px;
  line-height: 30px;
}

// Add spacing to the footer
.footer {
  margin-top: 50px;
}
