@use 'utils/colors' as *;

body.mobile-menu-open {
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.navbar-collapse {
  &.collapse {
    display: none;

    &.in {
      display: block;
    }
  }
}

#mobile-nav {

  button.mobile__nav {
    all: unset;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: rgba($blue-dark, .5);
    transition: background 0.25s ease-out;

    i {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
    }

    &:hover,
    &:focus-visible {
      background: $blue-dark;
      transition: background 0.125s ease-out;
    }

    &:focus-visible {
      border-radius: 4px;
      box-shadow: inset 0 0 0 2px $white, inset 0 0 0 6px rgba($white, .25);
      transition: all .125s ease-out;
    }
  }

  button.nav-drilldown {
    right: 0;
  }

  button.back-icon {
    left: 0;
  }

  .mb-item {
    border: 0;

    + .mb-item {
      border-top: 1px solid rgba($blue-dark, .25);
    }

    a {
      border: 0;
      margin: 0;
      font-size: 18px;
      padding: 20px 15px;
      background: $blue-medium;
      transition: all 0.125s ease-out;

      &:hover,
      &:focus-visible {
        background: $blue-dark;
        transition: background 0.125s ease-out;
      }

      &:focus-visible {
        border-radius: 4px;
        box-shadow: inset 0 0 0 2px $white, inset 0 0 0 6px rgba($white, .25);
        transition: all .125s ease-out;
      }
    }
  }

  .mb-back {
    height: 60px;
  }

  .mb-subviewopen {
    .nav-drilldown.nav-drilldown {
      display: none;
    }
  }

  // Overriding legacy issue that globally hides the first level of the menu
  .subul > li[data-level="1"]:first-of-type {
    display: block;
  }

  .parent-level {
    text-transform: uppercase;
    padding: 20px 15px 20px 80px;
  }

  .parent-level,
  .current-level {
    height: 60px;
    font-size: 18px;

    a {
      height: 60px;
    }
  }

  .subul {

    .mb-item {

      a {
        color: $gray-darker;
        background: $white;
        font-weight: 700;
        text-transform: uppercase;

        &:hover,
        &:focus-visible {
          background: $gray-light;
          transition: background 0.125s ease-out;
        }

        &:focus-visible {
          border-radius: 4px;
          box-shadow: inset 0 0 0 2px $blue-dark, inset 0 0 0 6px rgba($blue-medium, .25);
          transition: all .125s ease-out;
        }
      }

      + .mb-item {
        border-top: 1px solid $gray-light;
      }
    }
  }
}
