.image-and-text-block-page {
    .field--name-body.field--type-text-with-summary {
        display: block;
        margin-top: 20px;
    }
    .field--name-field-call-to-action {
        margin-top: 0;
    }
    @include tablet {
        .field--name-field-image {
            float: left;
            margin-right: 30px;
            width:40%;
        }
        
        .field--name-body.field--type-text-with-summary {
            display: inline-block;
            width: 50%;
            margin-top: 0;
        }
        
        .field--name-field-call-to-action {
            display: inline-block;
            width: 50%;
            margin-left: 0;
        }
    }
}