.block-type-block-with-image-and-text {
  &.block--view-mode-default {
    .field--name-field-image {
      margin-bottom: 20px;
    }
  }
}

.image-and-text-block {
  display: flex;
  flex-wrap: wrap;
  padding: 18px 0 50px;

  @include tablet {
    padding: 53px 0 59px;
  }

  // Small width block.
  &.small-width {
    .field--name-body {
      @include tablet {
        width: 58%;
      }
    }

    .field--name-field-image {
      @include tablet {
        width: 42%;
      }
    }
  }

  h3 {
    @include h2;
    width: 100%;
    margin-bottom: 23px;
  }

  .field--name-field-image {
    width: 100%;

    @include tablet {
      width: 37.67%;
    }

    img {
      @include mobile-down {
        width: 100%;
      }
    }
  }

  .field--name-body {
    width: 100%;
    padding: 24px 0 0;

    @include tablet {
      width: 62.33%;
      padding: 0 0 0 30px;
    }
  }
}

.tl-timemarker .tl-timemarker-content-container {
  width: 146px;
}

.block-image-text {
  padding-top: 20px;

  h2 {
    margin-bottom: 34px;
  }
}

.block-container {

  >.image-and-text {

    .image,
    .field--name-field-image {
      margin-bottom: 24px;

      @include tablet {
        max-width: 290px;
        margin: 0 30px 0 0;
        float: left;
      }

      img {
        width: 100%;
        height: 210px;
        object-fit: cover;
      }
    }

    .text,
    .field--name-body {
      .simple-btn {
        margin-top: 20px;
      }
    }
  }
}

.image-and-text-large {
  @include mobile-down {
    flex-direction: column-reverse;
  }

  .field--name-field-image {
    img {
      object-fit: cover;

      @include tablet-down {
        height: 100%;
      }

      @include mobile-down {
        height: 350px;
      }

      @include min-4k {
        width: 100%;
        height: 660px;
      }
    }
  }

  .layout__region--first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 28px 20px 40px;
    background: $block-type-image-and-text-bg-color;

    @include tablet {
      padding: 28px 20px;
    }

    @include desktop {
      padding: 28px 47px;
    }

    .field--name-info {
      @include h2;
      color: $color-white;
    }

    .field--name-body {
      margin-top: 13px;

      p {
        color: $color-white;
        font-weight: 700;
      }

      .simple-btn {
        background: transparent;
        border-color: $color-white;
        color: $color-white;
        margin-top: 13px;
      }
    }
  }
}

.image-and-text-medium {
  padding: 39px 0 50px;

  @include tablet-down {
    padding: 53px 0 64px;
  }

  .block-title {
    @include h2;
    margin-bottom: 30px;
  }

  .field--name-field-image,
  .layout__region.layout__region--first {
    @include tablet {
      flex-basis: 43%;
    }

    @include mobile-down {
      margin-bottom: 30px;
    }
  }

  .block-deck,
  .layout__region.layout__region--second {
    @include tablet {
      flex-basis: 57%;
      padding-left: 80px;
    }

    .species-interest-block {
      margin: 23px 0 0;
      padding: 0;

      h2 {
        @include h3;
        margin: 0 0 10px;
      }

      .view-content {
        margin: 0 -5px 30px;

        .explore {
          width: 100%;
          padding: 5px;

          @include tablet {
            width: 50%;
          }

          a {
            font-size: $font-size-deck-lg;
          }
        }
      }
    }

    .field--name-body {
      h3:first-child {
        margin-top: 0;
      }

      .simple-btn {
        margin: 20px 0 10px;
      }
    }
  }
}

.image-and-text-two {
  padding: 39px 0 50px;

  @include tablet {
    padding: 64px 0 90px;
  }

  .block {
    margin-top: 35px;

    @include mobile-down {
      display: flex;
      flex-direction: column;

      p:not(.img) {
        order: 3;
      }

      h3 {
        order: 1;
      }

      .img,
      figure {
        order: 2;
      }
    }
  }

  .block-title {
    @include h2;
    margin-bottom: 24px;
  }

  .align-left {
    margin: 20px 0 20px;

    @include tablet {
      margin: 0 30px 0 0;
    }
  }

  .simple-btn {
    margin-top: 20px;

    .page-node-type-program & {
      @include mobile-down {
        order: 4;
      }
    }
  }
}

.one-image-block {
  margin: 39px 0;

  h2 {
    margin: 0;
  }

  .field--type-entity-reference {
    margin: 26px 0;
    img {
      @include mobile-down {
        width: 100%;
        height: 315px;
        object-fit: cover;
      }
    }
  }

  div.simple-btn {
    margin-top: 15px;
  }
}

// Block with link & image.
.block-with-link-and-image,
.image-and-text-section {

  .field--name-field-title {
    @include h3;
    margin-bottom: 12px;
  }

  .image-and-deck {
    display: flex;
    flex-wrap: wrap;
  }

  .image-wrapper,
  .block-image {
    width: 100%;

    @include tablet {
      width: 37.67%;
      margin-top: 8px;
    }
  }

  .deck-wrapper,
  .block-deck {
    width: 100%;
    padding: 24px 0 0;

    @include tablet {
      width: 62.33%;
      padding: 0 0 0 30px;
    }
  }

  .image-wrapper {
    position: relative;

    .field--name-field-image-text {
      @include absolute(auto, 0, 0);
      background: rgba($color-black, .7);
      padding: 6.5px 17px 7.5px 15px;
      @include font($font-size-base, 700, $font-family-base, 1.29, $color-white);
      text-transform: uppercase;
      z-index: 1;
    }
  }
}

//added by brian 10-20-2020, anything above this i'm not 100% sure where its in use, if at all
.block-image-and-text-medium {
  display: flex;
  @include mobile-xs {
    flex-direction: column;
  }

  .field--name-field-image {
    flex-shrink: 0;
    margin-right: 40px;
    max-width: 50%;

    @include mobile-xs {
      margin-right: 0px;
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .field--name-field-call-to-action {
    a {
      @include mobile-xs {
        width: 100%;
        text-align: center;
      }
    }
  }
}