.featured-species-media {
  padding: 39px 0 34px;
  @include tablet {
    padding: 52px 0 90px;
  }

  .block-title {
    @include h2;
    margin-bottom: 24px;
  }

  .field--name-field-media-reference {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -16px 0;

    > .field--item {
      max-width: 192px;
      padding: 16px;
      @include mobile-xs {
        max-width: 100%;
      }
    }
  }

  .field--name-field-call-to-action {
    @include mobile-down {
      display: none;
    }
  }
}
