.block-fws-policy-manual-home-tree-block {
    .policy-table {
        display: table;
    }
    .policy-row {
        display: table-row;
        margin-bottom: 10px;
    }
    .policy-col {
        display: table-cell;
        padding:5px;
    }
    .policy-series-number {
        width: 10%;
        text-align: center;
    }
    .policy-series-title {
        width: 40%;
    }
    .policy-series-number {
        font-weight: 600;
        line-height:1.29;
        margin-top: 22px;
        font-size: 2.125em;
    }
    .policy-subseries {
        width: 40%;
    }
    .policy-subseries-title{
        width: 100%;
    }
    .policy-header {
        font-weight: bold;
    }
    .policy-attachment-wrapper {
        margin-top: 10px;
    }
}