.block-fws-search-apptaxonomic-tree 
{
    @include tablet-down {
        .search-content  {
            mat-card:first-of-type {
                border-top: 1px solid rgb(216, 216, 216);
                padding-top: 20px;
            }
            mat-card:not(:first-of-type) {
                .tabular-result--row > .views-field > .views-label {
                    display: block;
                    height: auto;
                }
            }
            mat-card {
                margin: 20px 0 0 0;
                padding: 0;
                font-family: $font-family-base;
                .tabular-result--row {
                    > .views-field.views-field-field-fws-focus {
                        display: block;
                        height: auto;
                        &::before {
                            height: auto;
                        }
                        .focus {
                            font-family: $font-family-base;
                            font-size: 16px;
                            font-weight: 400;
                            &.No::before {
                                content: 'No';
                            }
                            &.Yes::before {
                                content: 'Yes';
                                left: 13px;
                                font-size: 16px;
                                font-weight: 400;
                                font-family: $font-family-base;
                            }
                        }
                    }
                    > .views-field {
                        > .views-label {
                            height: auto;
                        }
                    }
                } 
                .tabular-result {
                    .tabular-result--inner {
                        .tabular-result--more--button {
                            display: none;
                        }
                        .tabular-result--row > .views-field > .field-content {
                            border-top: none;
                        }
                    } 
                }
            }
            .tabular-result--row {
                display: block;
                padding-left: 10px;
                > .views-field {
                    > .field-content {
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}