.federal-register-documents {
    background-color: #F7F9FB;
    padding: 60px 0px;


    .block-container {
        @include default-container;

        .field--name-field-title {
            @include h2;
            margin-top: 0px;
        }

        .field--name-field-description {
            margin-bottom: 30px; 
        }
    }
}