.block-branches-block {
  width: 100%;

  .table {
    thead tr th,
    tbody tr td {
      &:not(:first-child) {
        text-align: right;
      }
    }

    tr {
      &:last-child  td {
        font-weight: 700;
        border-bottom: 1px solid $border-color;
      }

      td {
        a {
            font-style: normal;
          }
        @include tablet {
          @for $i from 1 to 30 {
              &.level-#{$i} {
                  padding-left: $i * 10px + 10px;
              }
          }
        }
      }
    }
  }
}
