.block-fws-policy-directors-orders-block {
    .policy-table {
        display: table;
    }
    .policy-row {
        display: table-row;
        margin-bottom: 10px;
    }
    .policy-col {
        display: table-cell;
        padding:5px;
    }
    .policy-number, .policy-date, .policy-pdf, .policy-expiration, .policy-attachment-date {
        width: 80px;
        text-align: center;
    }
    .policy-attachment-type {
        width: 120px;
    }
    .policy-header {
        font-weight: bold;
        text-align: center;
    }
    .policy-attachment-wrapper {
        margin-top: 10px;
    }
}