.block-mega-menu-promo-image {

    .block-container {
        a, a:hover {
            color: white;
            text-decoration: none;
        }
        .field--name-field-image {
            border-radius: 3px;
            margin-bottom: 15px;
        }

        .field--name-field-short-heading {
            font-weight: bold;
            text-transform: uppercase;
            color: white;
            font-size: 17px;
            margin-bottom: 12px;
        }

        .field--name-field-short-description {
            font-weight: normal;
            font-size: 17px;
            color: white;
            font-family: $font-family-base;
        }
    }

}