$information-block-border-radius-value: 4px;
$information-block-default-bg-color: #EEEEEE;
$information-block-default-icon-bg-color: #444444;

$reward-information-bg-color: #E5E1DD;
$reward-information-icon-bg-color: #50371B;

$tips-information-bg-color: #D9E1E8;
$tips-information-icon-bg-color: #003366;

$offramp-information-bg-color: #EEEEEE;
$offramp-information-icon-bg-color: #444444;

$announcement-information-bg-color: #DFECEC;
$announcement-information-icon-bg-color: #2A7C80;


.information-block {
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: $information-block-border-radius-value;
    background-color: $information-block-default-bg-color;
    margin-bottom: 25px;

    .information-icon {
        flex-basis: 50px;
        min-width: 50px;
        border-radius: $information-block-border-radius-value 0px 0px $information-block-border-radius-value;
        background-color: $information-block-default-icon-bg-color;

        display: flex;
        justify-content: center;
    }

    .information-data {
        padding: 20px;

        @include mobile-xs {
            display: flex;
            flex-direction: column;
        }

        .field--name-field-image {
            @include mobile-xs {
                margin-bottom: 10px;
            }
            float: left;
            margin-right: 20px;
        }

        .information-title-body {
            display: flex;
            flex-direction: column;

            .field--name-field-title {
                font-size: 22px;
                font-weight: 600;
            }

            .field--name-field-description {
                font-size: 17px;
                font-weight: normal;

                ul {
                    list-style: disc;
                    padding-left: 20px;
                }
            }
        }
    }
}

.field--name-field-announcements{
    .information-block {
        background-color: $announcement-information-bg-color;
    
        .information-icon {
            background-color: $announcement-information-icon-bg-color;
            padding-top: 15px;
            @include icon('\f0a1', 25px, 700, 39px, $color-white);
        }
    }
}

.field--name-field-reward {
    .information-block {
        background-color: $reward-information-bg-color;
    
        .information-icon {
            background-color: $reward-information-icon-bg-color;
            padding-top: 15px;
            @include icon('\f155', 25px, 700, 39px, $color-white);
        }
    }
}

.field--name-field-tip {
    .information-block {
        background-color: $tips-information-bg-color;

        .information-icon {
            background-color: $tips-information-icon-bg-color;
            padding-top: 15px;
            @include icon('\f879', 25px, 700, 39px, $color-white);
        }
    }
}

.field--name-field-off-ramp {
    .information-block {
        background-color: $offramp-information-bg-color;

        .information-icon {
            background-color: $offramp-information-icon-bg-color;
            padding-top: 15px;
            @include icon('\f14d', 25px, 700, 39px, $color-white);
        }
    }
}