.items-as-bullet-list {
    .field--item {
        display: list-item;         
        list-style-type: none;     
        list-style-position: inside;
        padding-left: 20px;
        margin-bottom: 4px;

      &:before {
        content: '';
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-right: 12px;
        border-radius: 50%;
        background: #205493;
      }
    }
}