.species-profile-page-overview-exists{

  > h2 {
    @include container-block;
  }
}

.layout-stacked-side-by-side {
  max-width: 1140px;
  margin: 34px auto 0;
  padding: 13px 20px 20px;
  box-shadow: $popup-shadow;

  @media screen and (max-width: 810px) {
    margin: 34px 20px 0;
  }

  .block-layout-builder h2,
  h3 {
    @include field--label;
    margin-top: 0;
  }

  .block-layout-builder h2 {
    font-weight: 400;
  }

  .field--name-field-common-name {
    .field--item {
      font-weight: 400;
    }
  }

  .layout__region--first {
    section {
      margin-bottom: 12px;
    }
  }

  .view-species-population-connection {
    .views-row>div:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .view-display-id-fws_categories {
    .view-content {
      display: flex;

      .views-row:not(:last-child) .views-field-field-fws-categories .field-content {
        margin-right: 5px;

        &:after {
          content: ',';
        }
      }

      .views-row .field-content {
        @include font($font-size-deck-md, 400, $font-family-base, 1.4, $link-color);
      }
    }
  }

  .block-views-blockspecies-population-connection-location-in-taxonomic-tree {
    margin-top: 17px;

    .block-title {
      margin-bottom: 11px;
    }
  }

  .block-field-blocknodespeciestitle {
    font-style: italic;
  }

  .taxonomic-row {
    border-top: 1px solid $border-color;
    padding: 2px 25px;
    @include font($font-size-deck-md, 400, $font-family-base, 1.4, $color-extra-dark-grey);

    .taxonomic-title {
      color: $link-color;
      font-style: italic;
    }

    &:last-child {
      background: $views-row-bg-accent;
      border-bottom: 1px solid $border-color;
      padding-left: 30px;

      .taxonomic-title {
        font-weight: 700;
        color: $text-color;
      }
    }
  }

  .field--name-field-species-kingdom a {
    font-style: italic;
  }

  .block-field-blocknodespeciesfield-direct-branches {
    margin-top: 17px;

    .field--item {
      color: $link-color;
    }
  }

  .page-node-type-species & {
    .block-field-blocknodespeciestitle {
      h2 {
        font-size: 1em;
        font-style: italic;
        font-weight: normal;
        color: $text-color;
        margin-top: 0;
      }
    }

    .field--name-field-common-name {
      font-size: 1em;

      .field-label {
        @include field--label;
      }

      .field--item {
        font-size: 1em;
        font-weight: normal;
        color: $text-color;
      }
    }

    .block-views-blockspecies-population-connection-species-overview-card {

      .field--item {
        font-size: 1em;
        font-weight: normal;
        color: $text-color;
      }
    }
  }
}