@import '../../../../fws/styles/scss/base/elements/_typography';

.page-node-type-species {
  .block-field-blocknodespeciesfield-media {
    background: $block-bg-accent;

    .field--name-field-media {
      img {
        object-fit: cover;
        height: 480px;

        @include desktop {
          height: auto;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}