// TODO
// - map-icon-[bg|fg]-color values
// - styling for .locality within the address cannot adjust all-caps to title case
//   since those address parts are stored all-caps. might require a separate formatter
//   to apply or something, which may alter that markup if we no longer render the entire
//   address and hide the parts we're not interested in
// - `@include icon` isn't all that friendly, feels like the less commonly used parameters
//    should be moved to the end and given defaults and we should either add more mixins
//    or variables like $font-awesome-solid-icon: 900; so that we're not looking at font-weights
//    all over (maybe on variable per applicable weight as documented at https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements)
article.search-result.facility {
    $map-icon-bg-color: lightgrey;
    $map-icon-fg-color: grey;
    $map-icon-bg-size: 30px;

    >.content>.layout {
        display: flex;
        .layout__region {
            &.layout__region--first {
                flex-shrink: 1;

                section {
                    &.block-field-blocknodefacilityfield-banner-image {
                        // width from mockup is 50px, need room for padding
                        $thumb-padding: 10px;
                        width: 50px+$thumb-padding;
                        padding-right: $thumb-padding;
                        @include desktop {
                            $thumb-padding: 20px;
                            width: 130px+$thumb-padding; // matches image preset width
                            padding-right: $thumb-padding;
                            img {
                                border-radius: 5px; // soften the corners
                            }
                        }
                        
                    }
                }
            }
            &.layout__region--second {
                display: flex;
                flex-wrap: wrap;
                flex-grow: 1;
                flex-shrink: 0;
                section {
                    &.search-index-title,
                    &.search-index-body {
                        flex-basis: 100%;
                    }

                    &.block-field-blocknodefacilityfield-facility-type,
                    &.block-field-blocknodefacilityfield-address,
                    &.block-field-blocknodefacilityfield-email {
                        flex-basis: 100%;
                        @include desktop {
                            flex-basis: 33%;
                            @include desktop {
                                margin-top: 10px;
                            }
                        }
                    }

                    // body and contact not part of mobile display
                    &.search-index-body,
                    &.block-field-blocknodefacilityfield-email {
                        display: none;
                        @include desktop {
                            display: inherit;
                        }
                    }

                    &.block-field-blocknodefacilityfield-facility-type {
                        @include desktop {
                            .field {
                                position: relative;
                                display: flex;
                                // before is background and after is icon placed on before
                                &:before {
                                    background-color: $map-icon-bg-color;
                                    width: $map-icon-bg-size;
                                    min-width: $map-icon-bg-size;
                                    height: $map-icon-bg-size;
                                    border-radius: $map-icon-bg-size/2;
                                    content: ' ';
                                    display: inline-block;
                                    margin-right: 5px;
                                }
                                @include icon("\f041",'inherit',$font-awesome-solid-icon,'inherit',$map-icon-fg-color,'after');
                                &:after {
                                    position: absolute;
                                    // this math may not hold true for different sizes
                                    top: $map-icon-bg-size/6; // 5
                                    left: $map-icon-bg-size/3.333; // ~9
                                }
                            }
                        }
                    }

                    &.block-field-blocknodefacilityfield-address {
                        // just want city, state
                        br, // markup includes br tags, don't want them
                        .address-line1,
                        .address-line2,
                        .postal-code,
                        .country {
                            display: none;
                        }
                        // TODO this does nothing since all city names
                        // are stored in all-caps and capitalize only touches the first letter of each word..
                        .locality {
                            text-transform: capitalize;
                        }
                    }


                    &.block-field-blocknodefacilityfield-email {
                        // only visible on desktop so no media rules here
                        // the explicit widths, etc. here are because we're using visibility to hide
                        // the actual email address and in the link and replace it with "Contact"
                        // because of visibility the email address in the link then takes up space
                        // causing different links to not cleanly align, this deals with that.
                        >.block-container {
                            width: 100%;
                            display: flex;
                            justify-content: flex-end;
                            >.field {
                                width: 80px;
                            }
                        }    
                        a {
                            visibility: hidden;
                            position: relative;
                            white-space: nowrap;
                            &:before,
                            &:after {
                                visibility: visible;
                            }
                            @include icon("\f2b9",'inherit',$font-awesome-solid-icon,'inherit','inherit','before');
                            &:after {
                                content: 'Contact';
                                position: absolute;
                                left: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}