search-component-group[class~=search-filters-left] {
  flex-grow: 0;
}

.search-content .mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
  border-radius: 0;
}

.search-filters-left .search-left-side {
  h4 {
    color: $major-heading-color;
  }
  @include desktop {

    .block-fws-search-appspecies-information-media &,
    .block-fws-search-appfacility &,
    .block-fws-search-appeducation-program & {
      padding-top: 62px;
    }
    .block-fws-search-appservices & {
      padding-top: 92px;
    }
  }
}

.fws-search-container {
  .block-fws-search {
    margin: 40px 0px 80px 0;
    @include container-block;
  }
}

.main-container {
  .block-fws-search {
      h1 {
          margin-top:0px;
      }
  }
}

section.block-fws-search-appdocuments,
section.block-fws-search-appfacility {
    @include container-block;
}

search-component-group-element.margintop {
  display:block;
  margin-top:14px;
}

div#hidden-filters {
  margin-left: 0px !important;
}