.block-fws-search-appnews,
.block-fws-search-appnews-categories,
.block-fws-search-apppress-release {

    .search-content {
        padding: 0 !important;

        > div {
            @include card-wrapper-settings();
            .search-results-meta {
                flex-basis: 100%;
            }
        }
    }

    h3.block-title {
        @include h2;
    }
    .mat-card {
        @include card-settings();
    }
}

.block-fws-search-appnews-categories {
    #topFilters {
        search-component-group-element:first-child {
            width: 100%;
        }
    }
}