.footer {
  width: 100%;
  margin-top: 0;
  border: 0 none;
  padding: 0;

  //  Footer top region.
  &-top {
    position: relative;
    padding: 42px 0;
    background: $footer-image;
    background-position: right bottom;
    @include tablet {
      background-position: center;
      padding: 42px 0 27px;
    }

    &:before {
      content: '';
      @include absolute(0, 0, 0, 0);
      background: #003333;
      opacity: 87%;
    }

    .region-footer-top {
      position: relative;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      z-index: 1;
      @include desktop {
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
      }
    }
  }

  //  Footer bottom region.
  &-bottom {
    background: $footer-bottom-bg-color;
    padding: 24px 0;


    .block-social-media-links {
      text-align: center;
      @include tablet {
        text-align: right;
      }
    }
  }
}

// Layout builder fix
.modal-open {
  overflow-y: scroll;
}

footer.footer {
  .menu.nav {
      border-top: 2px solid $border-color;
      padding-top: 20px;
      padding-bottom: 10px;
      @media(min-width: $tablet-width) {
          border: none;
          padding: 0;
          margin-bottom: 20px;
      }
      > li {
          > a {
              color: $color-white;
              font-weight: bold;
              padding: 0;
              margin-bottom: 10px;
              &:hover {
                  background: transparent;
              }
          }
      }
  }
}
