//this scss is related specifically to using a field formatter of ChangeViewModeByNumberEntitiesReferenced
//While the view mode will generally render a view mode, this has some formatting and wrapper markup styling

.fws-core-change-view-mode-by-num-references {
    &.mini_teaser {
        display: flex;
        flex-wrap: wrap;

        @include tablet {
            gap: 20px;
        }

        > div {
            flex-basis: 100%;

            @include tablet {
                flex-basis: 48%;
            }
        }
    }

    &.image_only {
        display: flex;
        flex-wrap: wrap;

        article {
            flex-basis: 20%;
        }
    }

    &.our_partners_icon {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        > div {
            flex-basis: 47%;
            margin: 0 !important;

            @include tablet {
                flex-basis: 32%;
            }

            @include desktop {
                flex-basis: 15%;
            }
        }
    }

    .show-more-entities{
        flex-basis: 100%;
        text-align: right;
        cursor: pointer;
    }
}