.fws-document-link {
    > .file {
        display: flex;
        gap: 10px;
        align-items: center;
        > .icon {
            flex: 0 0 35px;
        }
        .details {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            .file-link a {
                font-weight: bold;
                overflow-wrap: anywhere;
            }
            .file-size {
                color: $text-color;
                font-weight: 400;
            }
        }
        > .download {
            flex: 0 0 50px
        }
    }

    .download {
        .document-download {
            span.download-icon {
                @include icon('\f33d', 18px, 700, 39px, $link-color, 'after');
                &:after {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    background: transparent;
                    border-radius: 50%;
                    text-align: center;

                    
                }
                &:hover {
                    &:after {
                        background-color: #e2e2e2;
                    }
                    
                }
            }
        }
    }

    //various mime types for icons, this is default 
    > .file  {
        .icon {
            .file-icon {
                .icon {
                    @include icon('\f15b', 25px, 500, 39px, $icon-default-bg-color); 
                }
            }
        }
    }

    //csv
    > .file--mime-text-csv {
        .icon {
            .file-icon {
                .icon {
                    @include icon('\f6dd', 25px, 500, 39px, $icon-default-bg-color); 
                }
            }
        }
    }
    //pdf 
    > .file--mime-application-pdf {
        .icon {
            .file-icon {
                .icon {
                    @include icon('\f1c1', 25px, 500, 39px, $icon-default-bg-color); 
                }
            }
        }
    }

    //word doc
    > .file--mime-application-vnd-openxmlformats-officedocument-wordprocessingml-document,
    > .file--x-office-document {
        .icon {
            .file-icon {
                .icon {
                    @include icon('\f1c2', 25px, 500, 39px, $icon-default-bg-color); 
                }
            }
        }
    }

    //zip file
    > .file--mime-application-zip {
        .icon {
            .file-icon {
                .icon {
                    @include icon('\f1c6', 25px, 500, 39px, $icon-default-bg-color); 
                }
            }
        }
    }

    //excel
    > .file--mime-application-vnd-openxmlformats-officedocument-spreadsheetml-sheet,
    > .file--x-office-spreadsheet {
        .icon {
            .file-icon {
                .icon {
                    @include icon('\f1c3', 25px, 500, 39px, $icon-default-bg-color); 
                }
            }
        }
    }

    //power point
    > .file--mime-application-vnd-openxmlformats-officedocument-presentationml-presentation,
    > .file--x-office-presentation {
        .icon {
            .file-icon {
                .icon {
                    @include icon('\f1c4', 25px, 500, 39px, $icon-default-bg-color); 
                }
            }
        }
    }
}