
// for landing pages that have full-width (container-fluid)
@import '../../../../fws/bootstrap/assets/stylesheets/bootstrap/mixins/clearfix';
@import '../../../../fws/bootstrap/assets/stylesheets/bootstrap/mixins/grid';
.main-container.container-fluid {
  // unset standard padding on container-fluid so the page content extends to the window's edge
  padding-left: 0px;
  padding-right: 0px;
  // for full-width content that are a stack of blocks
  .layout--onecol {
    .layout__region--content >.block-region-content {
      // when placing via panels must explicitly add this class
      // section is allowed to flow to the window's edge
      >section {
        // alternate the background-color of the stacked blocks
        &:nth-of-type(even) {
            background: $table-bg-accent;
        }
        // @see themes/custom/fws_gov/templates/block/block.html.twig (includes .block-container)
        // we want the block-container class in this case to behave like bootstrap's container class
        // so the contents of each block properly aligns with the header/footer content
        // BUT we don't need/want to duplicate all of the grid trappings that we'd get with '@extend .container'
        // @see themes/custom/fws/bootstrap/assets/stylesheets/bootstrap/_grid.scss
        >.block-container {
            @include container-fixed;

            @media (min-width: $screen-sm-min) {
                width: $container-sm;
            }
            @media (min-width: $screen-md-min) {
                width: $container-md;
            }
            @media (min-width: $screen-lg-min) {
                width: $container-lg;
            }
        }
      }
    }
  }
}

.page-node-type-one-column-page {
  .layout--onecol--with-heading.container-children {
    padding-top: 33px;
    padding-bottom: 22px;
    &.fws-search-container {
      .block-fws-search {
        margin-top: 0;
        margin-bottom: 55px;
      }
    }
    .block {
      .block-container {
        padding-left: 0;
      }
    }
    section.block-views-blockstories-topics-latest-stories {
      margin-top: 0;
    }
    section.block-views-blockactivity-list-activities-list-block {
      margin-top: 0;
      .view-activity-list {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .upcoming-events {
    .container {
      margin-top: 0;
    }
  }
}