.tabular-result {
  border-bottom: 1px solid $border-color;
  position: relative;
  z-index: 0;

  .tabular-result--inner {
    display: flex;
    flex: 1 0 100%;

    .tabular-result--content {
      display: flex;
      flex: 1 0 90%;
    }

    .tabular-result--more--button {
      flex: 0 0 78px;
      position: relative;

      .more--toggle {
        cursor: pointer;
        display: block;
        padding: 15px;
        bottom: 0;
        position: absolute;
        right: 0;
        white-space: pre;
        color: $link-color;

        &.more {
          position: relative;
        }
        &.less {
          position: relative;
        }

        span {
          cursor: pointer;
        }

        &.less {
          .caret {
            transform: rotate(-180deg);
            transition: transform 0.5s ease;
          }
        }
      }
    }
  }

  .tabular-result--content-more {
    display: none;
    flex: 1 0 100%;
    padding: 0 5px 25px;
    margin-top: -10px;

    .tabular-result--content-more--inner {
      background: $block-bg-accent;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
      padding: 10px;
      position: relative;
      top: 15px;
      margin-top: 15px;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        transform: rotate(-45deg);
        background: $block-bg-accent;
        position: absolute;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
        z-index: -1;
        top: -10px;
        left: 20px;
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 14px 14px 14px;
        border-color: transparent transparent $block-bg-accent transparent;
        position: absolute;
        z-index: 1;
        top: -14px;
        left: 16px;
      }
    }

    section.block {
      margin-bottom: 1em;
    }
  }
}

.tabular-result >.tabular-result--inner {
    .block-views-blockspecies-search-result-row-block-1 >.block-container>.views-element-container {
        margin: 0;
    }
    .tabular-result--row >.views-field >.field-content,
    .tabular-result--more--button >.more--toggle.more {
        display: block;
        /*height: 50px;*/
        border-top: 3px solid  $border-color;
    }
}

mat-card:first-of-type {
  .tabular-result >.tabular-result--inner {
    .tabular-result--more--button >.more--toggle.less {
        display: block;
        border-top: 3px solid  $border-color;
        margin-top: 50px;
    }
    .tabular-result--more--button >.more--toggle.more {
      display: block;
      border-top: 3px solid  $border-color;
      margin-top: 50px;
    }
  }
}

@mixin tabular-views-label() {
    display: block;
    color: $text-color;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    height: 50px;
    font-family: $font-family-base;  
}

.tabular-result--row {
  display: flex;
  flex: 1 0 100%;
  >.views-field {
      >.views-label {
        @include tabular-views-label();
      }
      >.field-content {
          padding-top: 8px;
      }
      &.views-field-title,
      &.views-field-field-common-name {
        flex: 0 0 30%;
      }
      &.views-field-field-taxonomic-rank {
          flex: 0 0 25%;
      }
      &.views-field-field-fws-focus {
        flex: 0 0 8%; 
        // this is the span that the Drupal view would put the label in
        // problem is if the first search result isn't "FWS Focus" then
        // the label is empty so simply hide what Drupal produces and 
        // force the label to display via :before
        .views-label-field-fws-focus {
            display: none;
        }
        &::before {
            content: 'FWS Focus';
            @include tabular-views-label();
        }
        .focus {
            position: relative;
            &.Yes {
                @include icon('\f132', 17px, 700, 1, $text-color);
                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
      }
      &.views-field-nid {
          flex: 0 0 5%; // 24$
          flex-grow: 1;
      }
  }
}
/* this is for the view version of taxonomic drilldown (no refiners) */
.view-taxonomic-drilldown-list >.view-content div.views-row:not(:first-of-type),
/* this is for the search app version of taxonomic drill down (with refiners) */
.block-fws-search-apptaxonomic-tree .search-content mat-card:not(:first-of-type)
{
        .tabular-result--row {
            >.views-field {
                &.views-field-field-fws-focus {
                    &::before {
                        display: none;
                    }
                }
                >.views-label {
                    display: none;
                }
            }
        }
        .tabular-result >.tabular-result--inner {
            .tabular-result--row >.views-field >.field-content,
            .tabular-result--more--button >.more--toggle.more {
                border-top: none;
            }
        }
}
.block-fws-search-apptaxonomic-tree {
    .refine-list {
        @include h4;
        color: $major-heading-color !important;
        display: block;
    }
    .fws_focus {
        .mat-checkbox-label {
            @include icon('\f132', 17px, 700, 1, 'inherit');
        }
    }
}