.search-index-views.view-find-a-specie {

  .views-row {
    position: relative;

    .views-field-views-bulk-operations-bulk-form {
      display: none;
      @include tablet {
        display: block;
        @include absolute(8px, 5px);
      }
      .checkbox {
        margin: 0;
      }
    }

    article.species {
      @include tablet {
        padding-left: 40px;

        &.image-and-deck {
          margin-left: -40px;
        }
      }
    }


    .search-index-left {
      .field--name-field-species-kingdom {
        > div {
          font-weight: 600;
        }
      }
    }

    .block-field-blocknodespeciestitle {
      a {
        font-style: italic;
      }
    }
  }
}
