.search-index-views {
  // Regulatory status changes views.
  &.view-search-api-regulatory-status-changes {
    .view-content {
      margin-top: 38px;
    }
  }

  // Print and clear button, All select checkbox.
  #vbo-action-form-wrapper {
    display: none;
    align-items: center;
    margin-top: 46px;
    padding-bottom: 13px;
    @include tablet {
      display: flex;
    }

    .form-actions {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      flex: 1 0 auto;
      height: 100%;
      margin-left: 39px;

      .button:not([id*='edit-fws-species-print']) {
        position: relative;
        height: 22px;
        border: 0 none;
        background: transparent;
        padding: 0 0 0 24px;
        box-shadow: none;
        @include font($font-size-deck-md, 400, $font-family-base, 1.4, $color-extra-dark-grey);

        &:before {
          content: '';
          @include absolute(1px, 0);
          display: inline-block;
          width: 18px;
          height: 18px;
          border: 1px solid $text-color;
          border-radius: 2px;
          font-size: $font-size-base;
          line-height: 18px;
        }

        &:after {
          content: '';
          @include absolute(46%, 5px);
          transform: translateY(-50%);
          display: inline-block;
          width: 8px;
          border: solid $text-color;
          border-width: 0.5px 0 0.5px 0;
        }
      }

      [id*='edit-fws-species-print'] {
        height: 36px;
        margin: 0 0 0 auto;
        padding: 7px 14px;
        background: $btn-species-print-bg;
        border: 0 none;
        border-radius: 4px;
        @include font($font-size-base, 700, $font-family-base, 1, $color-white);
        letter-spacing: .57px;
        text-transform: uppercase;
        box-shadow: none;
      }
    }

    .form-item-select-all {
      margin: 0;
    }

    .form-item-select-all label,
    .button:not([id*='edit-fws-species-print']) {
      @include font($font-size-deck-md, 400, $font-family-base, 1.4, $label-color);
    }
  }

  .view-header {
    h2 {
      margin-bottom: 22px;
    }
  }

  .views-row {
    margin-bottom: 24px;
    @include desktop {
      margin-bottom: 34px;
    }

    .search-index,
    .item-reference.teaser {

      .views-label {
        float: left;
        margin-right: 3px;
      }

      &-title {
        margin-bottom: 8px;

        h2 {
          margin: 0;
          font-size: $font-size-base;
        }

        a {
          display: inline-block;
          width: auto;
          font-size: $font-size-deck-lg;
          line-height: 1.3;
        }
      }

      &-subtitle {
        margin-bottom: 7px;

        &.italic {
          font-style: italic;
        }

        &.bold {
          > div, span {
            font-weight: bold;
          }
        }

        > div, span {
          @include font($font-size-deck-md, 400, $font-family-base, 1.4);
        }
      }

      &-body {
        margin-bottom: 10px;
      }

      &-status {
        margin-bottom: 6px;
        @include font($font-size-deck-md, 400, $font-family-base, 1.4);

        .field-content {
          font-weight: 700;
        }
      }

      &-center {
        width: 100%;
        @include desktop {
          width: auto;
          @include absolute(auto, 320px, 15px, auto);
        }
      }

      &-left {
        display: none;
        width: 100%;
        font-weight: 700;
        @include tablet {
          display: block;
        }
        @include desktop {
          @include absolute(auto, 0, 15px);
          width: auto;
        }

        .field--name-type {
          @include desktop {
            @include icon('\f49c', 18px, 700, 39px, $icon-default-bg-color);
            padding-left: 49px;
            &:before {
              @include absolute(50%, 0);
              transform: translateY(-50%);
              width: 40px;
              height: 40px;
              background: $views-row-bg-accent;
              border-radius: 50%;
              text-align: center;
            }
          }
        }
      }

      &-right {
        width: 100%;
        @include desktop {
          width: auto;
          @include absolute(auto,  auto, 15px, 0);
        }
      }

      &-left,
      &-right,
      &-center {
        > div:not(.field--name-type) {
          display: flex;

          > div {
            padding-right: 3px;
            font-size: $font-size-base;
            font-weight: 400;
            @include mobile-down {
              margin-bottom: 0;
            }
          }
        }
      }

      .block-field-blocknodespeciesfield-fws-focus,
      .block-field-blocknodespeciesfield-fws-focus-string {
        display: inline-block;
        width: auto;
        @include desktop {
          margin-bottom: 10px;
        }
      }

      .block-field-blocknodespeciesfield-fws-focus {
        float: left;
        @include desktop {
          float: none;
        }
      }

      .block-field-blocknodespeciesfield-fws-focus-string {
        max-width: 429px;
        vertical-align: bottom;
        display: block;
        margin-bottom: 10px;
        @include desktop {
          display: inline-block;
        }
      }

      .field--name-field-fws-focus-string {
        @include desktop {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        > span {
          margin-left: 3px;
        }
      }

      .fws-focus {
        &:after {
          content: ':';
        }
      }

      &.image-and-deck {

        .layout--twocol-section {
          display: flex;
          flex-wrap: nowrap;
        }

        .layout__region--first {
          flex: 0 1 23.2%;
          padding-right: 10px;
          @include desktop {
            padding-right: 30px;
          }
        }

        .layout__region--second {
          flex: 0 1 76.8%;
        }

        .search-index-center {
          @include desktop {
            left: 160px;
          }
        }

        .search-index-left {
          @include tablet {
            max-width: 150px;
            white-space: nowrap;

            .field--item {
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        .search-index-right {
          @include tablet {
            max-width: 213px;
            white-space: nowrap;

            span {
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }

      /*.layout__region--first {
        flex: 0 1 100%;
        margin-top: 4px;
      }

      .layout__region--second {
        flex: 0 1 100%;
        height: 100%;
      }*/

      .layout__region--content,
      .layout__region--second {
        position: relative;
        @include desktop {
          padding-bottom: 47px;
        }
      }
    }
  }
}

.block-reference-list-item {
  > .field--type-text-with-summary {
    margin-bottom: 34px;
  }

  > h2, h3 {
    margin: 0 0 26px;
  }

  div.simple-btn {
    margin-top: 0;
  }
}

.view-program-services,
.view-national-programming {
  .view-header {
    margin-bottom: 24px;
    @include tablet {
      margin-bottom: 30px;
    }
  }
}

.view-program-services {
  .views-row {
    .search-index.image-and-deck {
      .search-index-right.block {
        @include desktop {
          height: 19px;
          white-space: normal;
          text-align: right;
        }
      }
    }
  }
}