.block-views-blockspecies-population-connection-fws-id-tsn {
  h3 {
    margin-bottom: 15px;
  }

  .views-row {
    @include tablet {
      display: flex;
    }

    .views-field-field-fws-id {
      margin: 0 0 17px;
      @include tablet {
        margin: 0 107px 0 0;
      }
    }
  }
}
