.block-views-blockspecies-viewing-species-viewing {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 128px;
  @include tablet {
    margin-bottom: 88px;
  }
}

.view-species-viewing {
  .table-row:not(:first-child) {
    .views-label {
      @include desktop {
        display: none;
      }
    }
  }

  .views-label {
    @include small-caps;
    display: block;
    padding: 15px 10px 6px;
    @include desktop {
      height: 57px;
      padding: 10px 8px 13px 8px;
      border-bottom: 3px solid $border-color;

      &.views-label-title {
        padding-left: 5px;
      }
    }
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;


    .table-row {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px 0 20px;
      border-top: 1px solid $border-color;
      @include tablet {
        width: 50%;
      }
      @include desktop {
        flex-direction: row;
        width: 100%;
        padding: 0;
      }

      &:last-child {
        border-bottom: 1px solid $border-color;
        @include desktop {
          border-bottom: 3px solid $border-color;
        }
      }
    }
  }


  .views-field  {
    width: 100%;

    .field-content {
      display: block;
      padding: 0 10px;
      @include desktop {
        padding: 10px 8px 13px 8px;
      }
    }
    .field-content:not(.more-btn) {
      @include font($font-size-deck-md, 400, $font-family-base, normal, $text-color);
    }
  }

  .views-field-title {
    .field-content {
      @include desktop {
        padding-left: 5px;
      }

      a {
        color: $link-color;
        font-style: italic;
      }
    }
  }

  .views-field-nothing {
    .views-label {
      @include desktop {
        text-align: left;
        padding-right: 40px;
      }
    }

    .field-content {
      @include desktop {
        padding-right: 5px;
      }
    }
  }

  .views-field-title {
    @include desktop {
      max-width: 184px;
    }
  }

  .views-field-field-common-name {
    @include desktop {
      max-width: 199px;
    }
  }

  .views-field-field-taxonomic-rank {
    @include desktop {
      max-width: 115px;
    }
  }

  .views-field-field-fws-id {
    @include desktop {
      max-width: 94px;
    }
  }

  .views-field-field-fws-focus {
    @include desktop {
      max-width: 74px;
    }
  }

  .views-field.views-field-nothing {
    @include desktop {
      max-width: 133px;
    }
  }

  .views-field-nothing {
    @include desktop {
      text-align: right;
    }

    a {
      text-decoration: none;
      @include desktop {
        pointer-events: none;
      }
    }

    .more-btn {
      cursor: pointer;

      .text {
        position: relative;
        display: inline-block;

        &-close, &-view {
          transition: .4s;
        }

        &-close {
          @include absolute(50%, 0);
          transform: translateY(-100%);
          opacity: 0;
        }
      }
    }

    .caret {
      transition: .4s;
      border-width: 6px 6px 0 6px;
    }
  }

  // Visible modal window.
  .visible-modal {
    .views-field-rendered-entity {
      display: none;
      opacity: 1;
      z-index: 4;
      transform: translateZ(0);
      animation: .3s modal ease-in-out;
      @include desktop {
        display: block;
      }
    }

    .more-btn {
      .text-close {
        opacity: 1;
        transform: translateY(-50%);
      }

      .text-view {
        opacity: 0;
      }

      .caret {
        transform: rotate(180deg);
      }
    }
  }

  // Modal window.
  .views-field-rendered-entity {
    @include absolute(100%, 0, auto, 0);
    padding: 20px 53px 20px 20px;
    background: $views-row-bg-accent;
    box-shadow: $popup-shadow;
    display: none;
    .field-content {
      padding: 0;
    }

    &:after {
      content: '\e253';
      @include absolute(-26px, 21px);
      height: 15px;
      color: #f7f9fb;
      font-family: $font-family-icons;
      font-size: 30px;
      text-shadow: $triangle;
    }

    .close-menu {
      @include absolute(26px, auto, auto, 15px);
      display: flex;
      flex-direction: column;

      &:before, &:after {
        background: $text-color;
      }
    }

    .layout--onecol {
      float: left;
      position: relative;

      &:first-child {
        max-width: 230px;
        width: 100%;
        height: 230px;
      }

      &:last-child {
        width: calc(100% - 230px);
      }
    }

    .block-field-blocknodespeciesfield-media {
      margin: 0 20px 0 0;
    }

    .block-field-blocknodespeciestitle {
      @include absolute(auto, 0, 0);
      width: auto;
      background: rgba($color-black, .7);

      h2 {
        margin: 0;
        text-transform: uppercase;
        padding: 8px 15px;
        @include font($font-size-base, 700, $font-family-base, 1.1, $color-white);
      }
    }

    .field--label,
    .block-taxonomic-tree-block h3 {
      @include font($font-size-base, 600, $font-family-base, 1.1, #021d44);
    }

    .field--name-body {
      p {
        font-size: $font-size-base;
        font-weight: 400;
      }
    }

    .block-field-blocknodespeciesfield-fws-id {
      margin-top: 17px;
    }

    .block-taxonomic-tree-block {
      margin: 17px 0 0;

      h3 {
        margin: 0;
      }

      .table-responsive {
        margin-top: 8px;
      }
    }
  }
}

@keyframes modal {
  0% {
    display: none;
    opacity: 0;
    transform: translate3d(0,100px,0);
  }
  100% {
    display: block;
    opacity: 1;
    transform: translateZ(0);
  }
}

.block-field-blocknodespeciesfield-media {
  width: 100%;
}
