
$slider-story-non-selected-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .05), 
0px 6px 6px 0px rgba(0, 0, 0, .05), 
0px 0px 12px 0px rgba(0, 0, 0,  .05), 
0px 12px 12px 0px rgba(0, 0, 0, .05);

.stories {
  position: relative;

  .attachment-after {
    @include absolute(0, 50%, 0);
    transform: translateX(-50%);
    width: 100%;

    .view-header {
      margin-left: 100px;
    }

    .view-content {
      @include tablet {
        margin-top: 27px;
      }
    }
  }
}
.stories,
.topics {

  .view-header {
    position: relative;
    z-index: 1;
    max-width: 100px;
  }

  .view-content, .view-content ~ .more-link {
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease;

    &.active, &.active ~ .more-link {
      visibility: visible;
      opacity: 1;
      position: relative;
      z-index: 1;
    }
  }

  .tabs-item {
    position: relative;
    padding: 7px 15.6px 9px 9px;
    @include font($font-size-base, 700, $font-family-base, 1.2, $views-tab-item-text-color); 
    text-transform: uppercase;
    letter-spacing: .57px;
    text-align: center;
    cursor: pointer;
    transition: .4s;

    &:before {
      content: '';
      @include absolute(auto, 0, 0, 0);
      height: 4px;
      width: 100%;
      background: transparent;
    }

    &.active {
      background: $tabs-bg-color;
      color: $link-color;

      &:before {
        background: $link-color;
      }
    }
  }

  .view-content {
    position: relative;
    @include tablet {
      overflow: hidden;
      padding: 75px 12px 0;
    }
    @include mobile-down {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .story,
  .topic {
    @include mobile-down {
      margin: 30px 8px 0;
      max-width: 332px;
    }
    @include mobile-xs {
      margin: 30px 0 0;
    }
  }

  .owl-item.active.center {
    .story {
      box-shadow: $popup-shadow;
      @include tablet {
        box-shadow: $slider-story-shadow;
      }
    }
  }

  .story {
    height: 100%;
    background: $color-white;
    border-radius: 2px;
    box-shadow: $slider-story-non-selected-shadow;
    @include tablet {
      box-shadow: $slider-story-non-selected-shadow;
      border-radius: 2px;
    }

    &__deck {
      padding: 12px 20px 20px;

      &-category {
        display: flex;
        align-items: center;
        @include font($font-size-base, 700, $font-family-base, 1.4);
        // @include icon('\f1b0', 18px, 700, 40px, $icon-default-bg-color);
        // &:before {
        //   text-align: center;
        //   width: 40px;
        //   height: 40px;
        //   margin-right: 6px;
        //   border-radius: 50%;
        //   background: $font-awesome-bg;
        // }
      }

      &-title {
        margin: 13px 0 6px;
        a {
          @include font($font-size-deck-lg, 400, $font-family-base, 1.4, $link-color);
        }
      }

      &-date {
        margin-top: 28px;
        @include font($font-size-base, 400, $font-family-base, 1.4);
      }
    }
  }

  .category-information {
    display: flex;
    align-items: center;
      .views-field-field-icon {
        .field-content {
          text-align: center;
          width: 40px;
          height: 40px;
          margin-right: 6px;
          border-radius: 50%;
          background: $font-awesome-bg;
        }
        svg {
          width: 20px;
          height: 20px;
          margin-top: 9px;
          fill: $icon-default-bg-color;
        }
      }
  }

  .owl-item.center {
    transform: scale(1.145);
    z-index: 1;

    .story__deck {
      &-category, &-date {
        font-size: 14.3px;
      }

      &-category:before {
        width: 35px;
        height: 35px;
        font-size: 14.3px;
        line-height: 35px;
      }

      &-title a {
        font-size: 18px;
      }

      &-body p {
        font-size: 16px;
      }
    }
  }

  .owl-item {
    //max-width: 33%;
    visibility:  hidden;
    &.active {
      transition: transform .3s;
      visibility: visible;
    }
  }

  .owl-stage {
    display: flex;
    justify-content: center;
  }

  // Story slider dots.
  .owl-dots {
    margin-top: 72px;
    text-align: center;

    .owl-dot {
      position: relative;
      z-index: 2;
      width: 40px;
      height: 40px;
      background: transparent;
      border: 0 none;
      border-radius: 50%;
      margin: 0 5px;
      @include font($font-size-deck-md, 700, $font-family-base, 1, $link-color);
      transition: .4s;
      outline: none;

      &.active {
        background: $link-color;
        color: $color-white;
      }
    }
  }

  // Story nav button.
  .owl-nav {
    @include absolute(auto, 50%, -9px);
    transform: translateX(-50%);
    display: flex;
    max-width: 336px;
    width: 100%;

    .owl-prev,
    .owl-next {
      background: transparent;
      border: 0 none;
      @include font(48px, 300, $font-family-font-awesome, 1.2, $link-color);

      span {
        display: none;
      }
    }

    .owl-prev {
      outline: none;
      &:before {
        content: '\f104';
      }
    }

    .owl-next {
      margin-left: auto;
      outline: none;

      &:before {
        content: '\f105';
      }
    }
  }

  // More link.
  .more-link {
    display: none;
    @include tablet {
      display: flex;
      justify-content: center;
      margin-top: 35px;
    }
  }
}


.topics {

  .owl-item {
    max-width: 240px;
    &:not(:last-child) {
      margin-right: 46px;
      @include desktop {
        margin-right: 59px !important;
      }
    }
  }

  .owl-item.center {
    transform: scale(1.5);

    .views-field-title a {
      font-size: $font-size-base;
    }
  }


  .topic {
    position: relative;

    .views-field-title a {
      @include absolute(auto, 0, 0, 0);
      padding: 20px;
      @include font($title-xs, 600, $font-family-base, 1.4, $color-white);
      text-decoration: none;
      z-index: 1;

      &:before {
        content: '';
        @include absolute(0, 0, 0, 0);
        background: $topic-gradient;
        z-index: -1;
      }
    }
  }

  .owl-dots {
    margin-top: 146px;
  }
}

.latest-stories-and-topics {

  > h2 {
    margin-bottom: 26px;
    @include mobile-down {
      //display: none;
    }
  }

  .stories-and-topics.small-width-tabs {
    position: relative;

    .topics {
      @include absolute(0, 50%, 0);
      transform: translateX(-50%);
      width: 100%;
      @include mobile-down {
        margin-top: 50px;
        position: static;
        transform: translate(0, 0);

        .view-content {
          opacity: 1;
          visibility: visible;
        }
      }

      .view-header {
        @include tablet {
          margin-left: 100px;
        }
      }
    }

    .stories {
      .tabs-item {
        @include mobile-down {
          &:before {
            content: 'Latest';
            position: static;
            background: transparent;
            height: auto;
            margin-right: 7px;
          }
        }
      }
    }
    .stories,
    .topics {
      .view-header {
        .tabs-item {
          @include mobile-down {
            pointer-events: none;
            margin-left: 0;
            padding: 0;
            background: transparent;
            letter-spacing: 0;
            text-transform: capitalize;
            text-align: left;
            @include font($title-md, 600, $font-family-base, 1.29, $views-header-tabs-item-text-color);
          }
        }
      }

      .more-link {
        @include mobile-down {
          display: inline-block;
          visibility: visible;
          opacity: 1;
          margin-top: 40px;
        }
      }
    }
  }

  .stories-and-topics.only-topics {
    .topics {
      position: static;
      transform: translate(0, 0);
    }
  }
}
