.view-education-program, .view-education-program-featured {
    .view-header {
        margin-bottom:30px;
    }
}
.block-views-blockeducation-program-featured-featured-education-programs {
    .view-content {
        @include card-wrapper-settings();
    }
    .views-row {
        @include card-settings();
    }
}
.fws-education-program-find-form {
    button[type="submit"] {
        @include btn-primary;
        margin-top:20px;
    }
    label {
        @include h3;
    }
}

section.block-fws-search.block-fws-search-appfind-education-program {
    .search-filters-top {
        search-component-group-element {
            margin: 0;
        }
    }
    
    #topFilters {
        display:block !important;
    }
    .search-page {
        margin-left:10px;
        margin-right:20px;
    }
    search-component-submit {
        margin-top:20px;
    }
    search-component-label {
        mat-label {
            @include font($font-size-base, 400, $font-family-base, 1.29, $text-color);
            margin-bottom:0;
            &.leadin {
                margin-bottom:20px;
                display:block;
            }
            &.h4 {
                @include h3;
                display:block;
                margin-bottom: 5px;
            }
        }
    }
    search-filter-checkboxes {
        margin-top:15px;
        .search-filter-checkbox {
            .mat-checkbox-label {
                margin-right:25px;
            }
        }
    }
    search-component-submit {
        margin-bottom:20px;
    }
    .search-loading {
        display:none;
    }
     
}