.block-views-blockspecies-populations-for-facility-species-populations-block{
    .species-population-list {
        h3 {
            margin-bottom:0px;
        }
        .views-field-field-fws-focus {
            //display: inline-block;
            //width: auto;

            .fws-focus {
                margin-right: 10px;
                margin-top: 10px;
                flex-basis: 70%;
            }
        }

        .views-field-field-species-kingdom {
            font-weight: bold;
            min-width: 220px;
        }
        .views-field-field-fws-id {
            min-width:120px;
        }
        .views-field-field-taxonomic-rank {
            min-width: 220px;
        }

        .views-field-field-taxonomic-rank, .views-field-field-fws-id, 
        .views-field-field-species-kingdom {
            margin-top: 4px;
            margin-right: 20px;
            display: inline-block;
            .field-content {
                display: inline-block;
            }
        }
    }
}
