.view-regions-block {
  .layout--twocol-section {
    .layout__region--first {
      .field--name-field-image {
        img {
          width: 250px;
        }
      }
    }

    .layout__region--second {
      padding-left: 30px;

      .field--name-field-region-display-name {
        h3 {
          margin-top: 0px;
        }
      }

      .field--name-description {
        margin-bottom: 20px;
      }
    }
  }
}
