.block-views-blockprogram-species-species-by-program  {
  h3 {
    @include h2;
	}
}

.view-program-species.search-index-views, .view-program-species {
  .views-row .item-reference.teaser {
    .layout__region--second {
      padding-bottom: 0;
    }
  }

  .scientific-name {
    display: block;
    margin-top: 7px;
    @include font($font-size-deck-md, 400, $font-family-base, 1.5, $text-color);
  }

  .views-field-field-species-status {
    margin-bottom: 22px;
  }

  .view-filters {
    margin: 20px 0 5px;
    @include tablet {
      margin: 35px 0 31px;
    }

    .form-select {
      min-width: 211px;
      @include tablet {
        min-height: 45px;
      }
    }
  }

  .items-total {
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 31px;
    }
  }

  .views-field-field-abundance,
  .views-field-field-occurence,
  .views-field-field-origin,
  .views-field-field-seasonality {
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
    @include tablet {
      width: 50%;
    }

    &:before {
      margin-right: 5px;
    }
  }

  .views-field-field-abundance {
    @include icon('\f042', 22px, 700, 1, $text-color);
    &:before {
      transform: rotate(180deg);
    }
  }

  .views-field-field-occurence {
    @include icon('\f00c', 22px, 700, 1, $text-color);
  }

  .views-field-field-origin {
    @include icon('\f2fd', 22px, 500, 1, $text-color);
  }
}
