.view-national-contacts,
.view-regional-contacts,
.view-search-api-people {
  .contact-field-group {
	  cursor: pointer;

	  .details {
		  @include absolute(100%, 0);
		  flex-direction: column;
		  margin-top: 5px;
		  padding: 10px;
		  background: $color-white;
		  box-shadow: $popup-shadow;
		  white-space: nowrap;
		  z-index: 1;
	  }

	  // Hidden default arrow summary tags.
	  > summary {
		  color: $link-color;
		  @include icon('\f2b9', 16px, 700, 1, $link-color);

		  &:before {
			  margin-right: 7px;
		  }

		  &::-webkit-details-marker {
			  display: none;
		  }
	  }

	  .views-field-field-phone {
		  margin-bottom: 5px;

		  a {
			  @include phone-icon;
		  }
	  }

	  .views-field-nothing {
		  a {
			  @include email-icon;
		  }
	  }
  }

	.views-field-field-address-administrative-area.search-index-left {
		> span {
			font-weight: 400;
		}
	}
}

.view-search-api-people.search-index-views {
  .views-row .search-index-left {
	  font-weight: 500;
  }

	.views-field-field-phone {
		a {
			@include phone-icon;
			color: $text-color;

			&:before {
				color: $text-color;
			}
		}
	}
}
