//
article.summary.laws-agreements-treaties {
    .layout--twocol-section {
        display: flex;
        flex-direction: row;
        @include mobile-xs {
            flex-direction: column;
        }
        .layout__region--first {
            flex-shrink: 1;
            flex-basis: auto;
            width: auto;

            .teaser-thumbnail {
                @include mobile-xs {
                    width: 100%;
                    margin-bottom: 20px;
                    padding-right: 0px;
                }
                
                $thumb-padding: 30px;
                width: 230px+$thumb-padding; // matches image preset width
                padding-right: $thumb-padding;
                img {
                    border-radius: 5px; // soften the corners
                    margin: 0;
                    height: auto;
                }
                
            }
        }
      
        .layout__region--second {
            flex-grow: 1;
        }
    }
}