//used for service categories and others, see below for 
.taxonomy-card, .our-focus-card {
    border-radius: 4px;
    box-shadow: $popup-shadow;
    margin-bottom: 25px;

    .card-image {
        
        position: relative;

        > a {
            // scrim background fade for visibility
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: inline-block;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.60) 55%, rgba(0, 0, 0, 0.80) 100%);
                z-index: 0;
            }
        }

        img {
            width: 100%;
            border-radius: 4px 4px 0px 0px;
        }

        .card-title {
            position: absolute;
            bottom: 0px;
            padding: 0px 20px 15px 20px;
            text-shadow: 1px 1px 3px #000;
            z-index:20;
            
            a, a:hover {
                color: white;
                text-decoration: none;
            }
        }
    }
    .card-description {
        font-size: 17px;
        padding: 20px;
    }
}

.view-service-categories {
    @include tablet {
        .taxonomy-card {
            height: 420px;
        }
    }
    @include desktop {
        .taxonomy-card {
            height: 446px;
        }
    }
    @include desktop-large {
        .taxonomy-card {
            height: 446px;
        }
    } 
}

//views that are using card view modes should add this class to the view in the advanced section
//towards the bottom right. Then all this will be reusable across multipile views. 
.taxonomy-cards-view {
    .view-content {
        display: flex;
        flex-wrap: wrap;

        .views-row {
            width: calc(50% - 15px);

            @include mobile-down {
                width: 100%;
            }
        }

        .views-row:nth-child(odd) {
            margin-right: 15px;

            @include mobile-down {
                margin: 0;
            }
        }

        .views-row:nth-child(even) {
            margin-left: 15px;

            @include mobile-down {
                margin: 0;
            }
        }
    }
}
