.icon-with-term-name {
    .layout__region--content {
        display: flex;
        flex-direction: row;
        align-items: center;
        .block-field-blocktaxonomy-termactivityfield-icon {
            flex: 0 0 35px;
        }
        .block-field-blocktaxonomy-termactivityname {
            width: auto;
            font-size: 19px;
            margin-left: 10px;
        }
    }
    
}